ai-asset-gen-ROSS5eWsWToJXAID.json
{"createdAt":"2025-07-17T10:01:57.481Z","updatedAt":"2025-07-17T11:42:28.000Z","id":"ROSS5eWsWToJXAID","name":"ai asset gen","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"AI Marketing Asset Generator","formDescription":"Introducing a new product? Receive 5 eye-catching, brand-specific visuals in just minutes.","formFields":{"values":[{"fieldLabel":"What is the Product Name.?","requiredField":true},{"fieldLabel":"What is the Product Tagline.?","requiredField":true},{"fieldLabel":"Upload Product Images","fieldType":"file","multipleFiles":false,"acceptFileTypes":".png, .jpg","requiredField":true},{"fieldLabel":"What is Product Category.?"},{"fieldLabel":"Highlighted Benefit."}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-60,20],"id":"b11eaa42-b244-46ab-ab44-d4888ce5515c","name":"On form submission","webhookId":"f76ba207-9d43-4342-afe5-aa6dc5b61d43"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"brandName\": \"Lakmé India\",\n  \"productName\": \"Lakmé Absolute Hydra Pro Serum\",\n  \"brandTone\": \"Modern beauty — bold, sophisticated, and empowering.\",\n  \"colorTheme\": \"Sapphire blue, rich gold, soft ivory, and neutral greys.\",\n  \"backgroundStyle\": \"Minimalist textures like smooth satin, frosted glass, or diffused light backgrounds in nude or pastel tones.\",\n  \"lightingStyle\": \"Balanced, high-key lighting with a luxurious glow — sharp enough to reflect quality, soft enough to feel premium.\",\n  \"productPlacement\": \"Product should be grounded on sleek surfaces like matte stone, lacquered trays, or soft fabric folds. Accents like water droplets, golden shimmer, or metallic elements can enhance but not overwhelm.\",\n  \"typographyStyle\": \"Bold modern serif fonts for headers, in uppercase. Subtext in clean sans-serif or contemporary italics. Use shades like white, charcoal grey, or metallic gold for typography.\",\n  \"compositionGuidelines\": \"Follow the rule of thirds or golden ratio for dynamic balance. Keep the frame uncluttered — let the product lead visually, with negative space used to enhance elegance.\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,20],"id":"42ba426b-18d0-41a9-b22e-0d6d18a797dd","name":"Edit Fields"},{"parameters":{"resource":"folder","name":"AI ","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,20],"id":"fe2d1537-0874-4518-96fd-2ba0e06396d9","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"QlhwDrXAR8dS3Rgs","name":"Google Drive account"}}},{"parameters":{"promptType":"define","text":"=You are a luxury product photographer and stylist.\n\nYour task is to suggest creative visual styling elements for 5 product launch assets — each for a different channel. The product is from a premium skincare brand with a clean, minimal, elegant tone — but it’s okay to be bold and attention-grabbing where suitable.\n Product Name ={{ $('On form submission').item.json['What is the Product Name.?'] }}\nProduct Tagline={{ $('On form submission').item.json['What is the Product Tagline.?'] }}\nProduct Image={{ $('On form submission').item.json['Upload Product Images'] }}\nProduct Category={{ $('On form submission').item.json['What is Product Category.?'] }}\nHighlighted benefits={{ $('On form submission').item.json['Highlighted Benefit.'] }}\nEach asset must:\n- Feel part of the same brand campaign\n- Use varied styling (not repetitive)\n- Be visually differentiated based on its platform and purpose\n\nReturn a JSON object with the following structure:\n\nFor each asset, vary the:\n- backgroundTone → must be visually attractive and brand-aligned\n- surfaceType → creative but not distracting\n- accentProp → feminine, luxurious, and elegant (avoid droplets or overused props)\n- lighting → varies by mood or asset format\n- cameraAngle → changes perspective and storytelling\n- Overlay Text - a short yet attractive copy. (It could be a CTA, a launch offer, a normal text etc.) Avoid using the tagline. Make it sound as if it is coming from a very luxurious setting.\n\nUse tasteful elements like marble, linen, satin, ribbon, flowers, sculptural trays, and glass — but ensure each scene feels premium and styled intentionally.\n\nDo **not** repeat the same exact prop, background, or layout across assets.\n\nOnly respond with the structured JSON output.\n\n-----\n\n1. Instagram Post\n- Purpose: Feed-worthy hero image for social media\n- Visual Style: Polished, balanced composition. Clear product focus. Elegant props. Can be bold or eye-catching.\n\n2. Instagram Story\n- Purpose: Vertical (9:16) mobile-first visual\n- Visual Style: Cropped, zoomed-in. Close-up textures. Feels intimate and lightweight.\n\n3. Website Banner\n- Purpose: Wide header for homepage or hero section\n- Visual Style: Spacious layout with clean negative space. Product is usually off-center. Calm, minimal, premium.\n\n4. Ad Creative\n- Purpose: High-impact visual for paid ads or carousels\n- Visual Style: Bold, contrasty, visually striking but still refined. May use dramatic lighting or color.\n\n5. Testimonial Graphic\n- Purpose: Visual support for a customer quote or review\n- Visual Style: Soft, nurturing, and gentle. Product is present but secondary. Clean and emotionally warm.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[660,20],"id":"78b742c1-f20b-4017-af5e-e52d02af9ca0","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[600,220],"id":"e55cbd47-6b90-40d0-a761-a66c402d8119","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"assets\": [\n    {\n      \"assetType\": \"Instagram Post\",\n      \"backgroundTone\": \"soft blush gradient\",\n      \"surfaceType\": \"satin draped cloth\",\n      \"accentProp\": \"gold-trimmed ribbon\",\n      \"lighting\": \"warm spotlight from the side\",\n      \"cameraAngle\": \"45-degree angle\",\n      \"overlayText\": \"Glow deeper. Shine brighter.\"\n    },\n    {\n      \"assetType\": \"Instagram Story\",\n      \"backgroundTone\": \"pale lavender with light streaks\",\n      \"surfaceType\": \"textured ceramic tray\",\n      \"accentProp\": \"scattered rose petals\",\n      \"lighting\": \"top-down diffused glow\",\n      \"cameraAngle\": \"zoomed-in overhead view\",\n      \"overlayText\": \"Hydration you can feel. Right now.\"\n    },\n    {\n      \"assetType\": \"Website Banner\",\n      \"backgroundTone\": \"muted green stone texture\",\n      \"surfaceType\": \"brushed concrete slab\",\n      \"accentProp\": \"eucalyptus branch\",\n      \"lighting\": \"soft angled morning light\",\n      \"cameraAngle\": \"side-profile landscape\",\n      \"overlayText\": \"Glow like never before!\"\n    },\n    {\n      \"assetType\": \"Ad Creative\",\n      \"backgroundTone\": \"deep emerald with gradient fade\",\n      \"surfaceType\": \"reflective glass base\",\n      \"accentProp\": \"frosted crystal orb\",\n      \"lighting\": \"dramatic backlight\",\n      \"cameraAngle\": \"elevated 3/4 angle\",\n      \"overlayText\": \"10% Off Today Only\"\n    },\n    {\n      \"assetType\": \"Testimonial Graphic\",\n      \"backgroundTone\": \"cream linen with subtle shadows\",\n      \"surfaceType\": \"polished marble\",\n      \"accentProp\": \"single white tulip\",\n      \"lighting\": \"natural side lighting\",\n      \"cameraAngle\": \"clean straight-on view\",\n      \"overlayText\": \"My skin has never felt this good.\"\n    }\n  ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[840,240],"id":"14c24f5c-5389-4d60-b340-cb973c9eff2e","name":"Structured Output Parser"},{"parameters":{"jsCode":"return [\n  {\n    json: $json,\n    binary: {\n    image: $node[\"On form submission\"].binary[\"$('On form submission').first().json['Upload Product Images']\"]  // renaming it for HTTP upload\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,20],"id":"ada63c3b-edf4-4711-bbd5-d54a176b76c2","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.assets[0].assetType }}","rightValue":"Instagram Post","operator":{"type":"string","operation":"equals"},"id":"ebf11f03-69ff-4f3c-b57c-4546a255b265"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c8904f7-05f7-44b6-93af-cccd64a84105","leftValue":"={{ $json.output.assets[1].assetType }}","rightValue":"Instagram story","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d734709-27d7-48ba-9e12-2d7a0056ecb2","leftValue":"={{ $json.output.assets[2].assetType }}","rightValue":"Website Banner","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b39f7b43-8c44-4ca7-ad4f-67b223b65b9c","leftValue":"={{ $json.output.assets[3].assetType }}","rightValue":"Ad Creative","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cab21359-3baf-47d0-aa80-6d291d1fe97d","leftValue":"={{ $json.output.assets[4].assetType }}","rightValue":"Testimonial Graphic","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,20],"id":"796be357-4509-43a4-95e0-7c85cddeac7d","name":"Switch"},{"parameters":{"resource":"image","prompt":"=Create a square (1:1) photorealistic **Instagram Post** visual for the skincare product {{ $('On form submission').item.json['What is the Product Name.?'] }} from {{ $('Edit Fields').item.json.brandName }}.\nThis is the **hero asset** in the product launch — it should feel bold, polished, and visually iconic. The composition must be clean, centered, and brand-first, setting the tone for the entire campaign.\nThe product image is provided — do not alter it. Integrate it into a stylized visual scene.\n\nUse a {{ $json.output.assets[0].backgroundTone }} background that reflects natural elegance — this may include textures like fabric folds, water ripples, or gradient light. Place the product on a {{ $json.output.assets[0].surfaceType }} such as stone, satin, or sculpted glass.\n\nIntroduce a complementary accent prop like a {{ $json.output.assets[0].accentProp }} to enrich the visual story. Ensure props enhance, not clutter.\n\nApply {{ $json.output.assets[0].lighting }} to add dimension, and capture the image from a {{ $json.output.assets[0].cameraAngle }} — this may be slightly off-center, angled, or from above to create depth.\n\nFollow the brand’s identity and styling rules:\n- Tone: {{ $('Edit Fields').item.json.brandTone }}\n- Color palette: {{ $('Edit Fields').item.json.colorTheme }}\n- Typography style (for brand reference only): {{ $('Edit Fields').item.json.typographyStyle }}\n- Product placement rules: {{ $('Edit Fields').item.json.productPlacement }}\n- Composition: {{ $('Edit Fields').item.json.compositionGuidelines }}\n\nFeel free to include overlay text - \"{{ $('AI Agent').item.json.output.assets[0].overlayText }}\". Ensure it is clearly legible, elegantly styled, and placed harmoniously within the composition. \n\nThis should be a clean, emotionally resonant product visual — worthy of a high-end Instagram or print campaign.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1420,-420],"id":"18ade8a0-888c-4d76-ad3e-ba0a1cddd514","name":"OpenAI","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"=Create a vertical 9:16 photorealistic **Instagram Story** visual for the skincare product {{ $('On form submission').item.json['What is the Product Name.?'] }} from {{ $('Edit Fields').item.json.brandName }}.\n\nThis is a **mobile-first asset** — it should feel closer, more intimate, and optimized for scrolling. The visual must feel lighter and more immersive than the hero post, with vertical flow and tactile textures.\nThe product image is provided — do not alter it. Integrate it into a vertical, immersive, mobile-first visual scene.\n\nUse a {{ $json.output.assets[1].backgroundTone }} background with vertical flow — it may include soft light gradients, fabric drapes, or textured wall tones. Place the product on a {{ $json.output.assets[1].surfaceType }} appropriate for an elegant vertical composition.\n\nIntroduce a complementary vertical-friendly accent prop like a {{ $json.output.assets[1].accentProp }} to frame the product visually. Keep it minimal and scroll-worthy.\n\nApply {{ $json.output.assets[1].lighting }} to enhance clarity on mobile screens, and capture the image from a {{ $json.output.assets[1].cameraAngle }} that fits the tall format naturally.\n\nFollow the brand’s identity and styling rules:\n- Tone: {{ $('Edit Fields').item.json.brandTone }}\n- Color palette: {{ $('Edit Fields').item.json.colorTheme }}\n- Typography style (for brand reference only): {{ $('Edit Fields').item.json.typographyStyle }}\n- Product placement rules: {{ $('Edit Fields').item.json.productPlacement }}\n- Composition: {{ $('Edit Fields').item.json.compositionGuidelines }}\n\nFeel free to include overlay text - \"{{ $('AI Agent').item.json.output.assets[1].overlayText }}\". Ensure it is clearly legible, elegantly styled, and placed harmoniously within the composition. \n\nThis should feel refined, light, and scroll-stopping on a premium skincare brand’s Instagram Story.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1420,-220],"id":"0c9b9789-5a8a-4f45-adc6-5c0d60f484ff","name":"OpenAI1","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"=Create a horizontal 16:9 photorealistic **Website Banner** visual for the skincare product {{ $('On form submission').item.json['What is the Product Name.?'] }} from {{ $('Edit Fields').item.json.brandName }}.\n\nThis asset is for a homepage hero section. It must feel **spacious, minimal, and refined**, with clean off-center layout and breathing room. Visually, it should contrast from the bolder social assets and feel more ambient.\nThe product image is provided — do not alter it. Integrate it into a clean, web-friendly layout with ample negative space.\n\nUse a {{ $json.output.assets[2].backgroundTone }} background that works well on large desktop screens — think smooth gradients, soft textures, or minimal fabric scenes. Place the product on a {{ $json.output.assets[2].surfaceType }} with a clear left or right alignment.\n\nInclude a single complementary accent prop such as a {{ $json.output.assets[2].accentProp }} — soft, grounded, and not distracting. Keep the overall layout breathable.\n\nApply {{ $json.output.assets[2].lighting }} for subtle depth, and shoot from a {{ $json.output.assets[2].cameraAngle }} that supports side placement or spacing for overlay text externally (not in image).\n\nFollow the brand’s identity and styling rules:\n- Tone: {{ $('Edit Fields').item.json.brandTone }}\n- Color palette: {{ $('Edit Fields').item.json.colorTheme }}\n- Typography style (for brand reference only): {{ $('Edit Fields').item.json.typographyStyle }}\n- Product placement rules: {{ $('Edit Fields').item.json.productPlacement }}\n- Composition: {{ $('Edit Fields').item.json.compositionGuidelines }}\n\nFeel free to include overlay text - \"{{ $('AI Agent').item.json.output.assets[2].overlayText }}\". Ensure it is clearly legible, elegantly styled, and placed harmoniously within the composition. \n\nThis should feel modern, clean, and aligned with a premium skincare homepage aesthetic.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1420,-20],"id":"828a4b54-e433-4058-b69e-009e49f02772","name":"OpenAI2","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"resource":"image","prompt":"=Create a square 1:1 photorealistic **Ad Creative** visual for the skincare product {{ $('On form submission').item.json[\"What is the product's name?\"] }} from {{ $('Edit Fields').item.json.brandName }}.\n\nThis is a **scroll-stopping ad** meant for paid social. It should feel **high-impact, dramatic, and visually punchy** — bold lighting, confident angles, and a strong visual hierarchy that stands apart from brand feed content.\nThe product image is provided — do not alter it. Integrate it into a bold and visually striking layout designed for advertising.\n\nUse a {{ $json.output.assets[3].backgroundTone }} background that immediately catches the eye — it may be deep, contrasty, or high-gloss. Place the product on a {{ $json.output.assets[3].surfaceType }} that adds visual punch without distraction.\n\nIntroduce a dynamic accent prop like a {{ $json.output.assets[3].accentProp }} to elevate the scene. The layout should feel purposeful and energetic.\n\nApply {{ $json.output.assets[3].lighting }} for contrast and bold shadows, and shoot from a {{ $json.output.assets[3].cameraAngle }} that adds visual drama and structure.\n\nFollow the brand’s identity and styling rules:\n- Tone: {{ $('Edit Fields').item.json.brandTone }}\n- Color palette: {{ $('Edit Fields').item.json.colorTheme }}\n- Typography style (for brand reference only): {{ $('Edit Fields').item.json.typographyStyle }}\n- Product placement rules: {{ $('Edit Fields').item.json.productPlacement }}\n- Composition: {{ $('Edit Fields').item.json.compositionGuidelines }}\n\nFeel free to include overlay text - \"{{ $('AI Agent').item.json.output.assets[3].overlayText }}\". Ensure it is clearly legible, elegantly styled, and placed harmoniously within the composition. \n\nThis should stop the scroll and feel luxurious, modern, and ad-ready while staying true to the brand.\n","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1420,160],"id":"9a4e61b3-482a-4904-98fa-d5c51a49b3d2","name":"OpenAI3","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"resource":"image","model":"gpt-image-1","prompt":"=Create a square 1:1 photorealistic **Testimonial Graphic** visual for the skincare product {{ $('On form submission').item.json['What is the Product Name.?'] }} from {{ $('Edit Fields').item.json.brandName }}.\n\nThis asset supports a customer review or quote — it should feel **soft, nurturing, and emotionally warm**. Unlike bolder campaign assets, the design here must feel quiet, minimal, and sincere, drawing attention subtly to the product.\nThe product image is provided — do not alter it. Integrate it into a soft, calming visual meant to support a customer testimonial.\n\nUse a {{ $json.output.assets[4].backgroundTone }} background with muted tones — textures like linen, cream paper, or pastel gradients are welcome. Place the product gently on a {{ $json.output.assets[4].surfaceType }} that feels warm and nurturing.\n\nAdd a gentle, emotional prop like a {{ $json.output.assets[4].accentProp }}. Keep all elements minimal, sincere, and comforting.\n\nApply {{ $json.output.assets[4].lighting }} to soften the scene, and shoot from a {{ $json.output.assets[4].cameraAngle }} that conveys trust and simplicity.\n\nFollow the brand’s identity and styling rules:\n- Tone: {{ $('Edit Fields').item.json.brandTone }}\n- Color palette: {{ $('Edit Fields').item.json.colorTheme }}\n- Typography style (for brand reference only): {{ $('Edit Fields').item.json.typographyStyle }}\n- Product placement rules: {{ $('Edit Fields').item.json.productPlacement }}\n- Composition: {{ $('Edit Fields').item.json.compositionGuidelines }}\n\nFeel free to include overlay text - \"{{ $('AI Agent').item.json.output.assets[4].overlayText }}\". Ensure it is clearly legible, elegantly styled, and placed harmoniously within the composition. \n\n\nThis image should quietly support a testimonial or review without overshadowing it — calm, minimal, and emotionally resonant.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1420,360],"id":"0e529b01-d796-4076-a51c-6054dabbfd2b","name":"OpenAI4","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}}],"connections":{"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"OpenAI1","type":"main","index":0}],[{"node":"OpenAI2","type":"main","index":0}],[{"node":"OpenAI3","type":"main","index":0}],[{"node":"OpenAI4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"30430afb-b4c9-4184-89d1-a839571f73d0","triggerCount":0,"tags":[]}