auto-categorise-outlook-emails-with-ai-wuB7k0HplDdVNsu1.json
{"createdAt":"2025-07-15T04:13:36.295Z","updatedAt":"2025-07-15T04:15:51.000Z","id":"wuB7k0HplDdVNsu1","name":"Auto Categorise Outlook Emails with AI","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"63aa0c3e-ae9c-4875-9c4b-ef03f6c0ec6d","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1560,720],"typeVersion":1},{"parameters":{"model":"qwen2.5:14b","options":{"temperature":0.2}},"id":"41f58d49-cb9f-4bea-9ba4-ce04b6fe31a4","name":"Ollama Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOllama","position":[140,980],"typeVersion":1},{"parameters":{"operation":"move","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"folderId":{"__rl":true,"mode":"list","value":"AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj-aQEAnz-IOcWBGE2lrVuQgAF6zAAAAgFJAAAA","cachedResultUrl":"https://outlook.office365.com/mail/AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj%2FaQEAnz%2FIOcWBGE2lrVuQgAF6zAAAAgFJAAAA","cachedResultName":"Junk Email"}},"id":"1413885f-5645-4cf3-a86c-646d54bea8c8","name":"Microsoft Outlook10","type":"n8n-nodes-base.microsoftOutlook","position":[2020,300],"typeVersion":2,"webhookId":"3151bb0b-54b8-4444-ae08-1814fda29f4f"},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"fb0abdbc-771c-477a-bb79-d0529720068b","name":"Microsoft Outlook12","type":"n8n-nodes-base.microsoftOutlook","position":[1700,300],"typeVersion":2,"webhookId":"36cd3f5a-4ab6-4f12-83a5-a7fe41c5d274"},{"parameters":{"options":{}},"id":"bdcfeefa-ad8c-4bbe-8411-b740798fd126","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[-840,740],"typeVersion":3},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"1aaa0fad-33d3-4758-a22a-1aab58923bbd","name":"Microsoft Outlook13","type":"n8n-nodes-base.microsoftOutlook","position":[1700,480],"typeVersion":2,"webhookId":"5d2ed696-e412-45e1-856e-22401be76103"},{"parameters":{"operation":"move","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"folderId":{"__rl":true,"mode":"list","value":"AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj-aQEAnz-IOcWBGE2lrVuQgAF6zAADLJmrBwAAAA==","cachedResultUrl":"https://outlook.office365.com/mail/AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj%2FaQEAnz%2FIOcWBGE2lrVuQgAF6zAADLJmrBwAAAA%3D%3D","cachedResultName":"Receipt"}},"id":"c7fd90c4-d21c-42f9-b0da-acdf33ea7c49","name":"Microsoft Outlook15","type":"n8n-nodes-base.microsoftOutlook","position":[2020,480],"typeVersion":2,"webhookId":"a3dc4adc-58f1-4e11-b136-31e661b66fc9"},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"eb2be8e1-6037-48c5-9b69-a3f6e6710152","name":"Microsoft Outlook16","type":"n8n-nodes-base.microsoftOutlook","position":[1720,800],"typeVersion":2,"webhookId":"b53394c6-6dd5-4a8f-bb27-d67e3c8a6444"},{"parameters":{"operation":"move","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"folderId":{"__rl":true,"mode":"list","value":"AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj-aQEAnz-IOcWBGE2lrVuQgAF6zAADLJmrCAAAAA==","cachedResultUrl":"https://outlook.office365.com/mail/AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj%2FaQEAnz%2FIOcWBGE2lrVuQgAF6zAADLJmrCAAAAA%3D%3D","cachedResultName":"Community"}},"id":"964cd12a-a3ed-47db-827d-0bf5e48a87cb","name":"Microsoft Outlook17","type":"n8n-nodes-base.microsoftOutlook","position":[2020,800],"typeVersion":2,"webhookId":"70744f33-1ecd-4a37-b3d4-25a827010b14"},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"30fadffa-fb00-485b-b939-64d173a6827d","name":"Microsoft Outlook18","type":"n8n-nodes-base.microsoftOutlook","position":[1720,640],"typeVersion":2,"webhookId":"4f6782f9-9cd6-408b-848a-d4c0c8588fe1"},{"parameters":{"operation":"move","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"folderId":{"__rl":true,"mode":"list","value":"AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj-aQEAnz-IOcWBGE2lrVuQgAF6zAADLJmrCQAAAA==","cachedResultUrl":"https://outlook.office365.com/mail/AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj%2FaQEAnz%2FIOcWBGE2lrVuQgAF6zAADLJmrCQAAAA%3D%3D","cachedResultName":"SaaS"}},"id":"859ff3f9-5b67-4bd3-8457-3a4e4e4b3b40","name":"Microsoft Outlook19","type":"n8n-nodes-base.microsoftOutlook","position":[2020,640],"typeVersion":2,"webhookId":"85727527-1e50-4288-be80-745d82232019"},{"parameters":{"html":"={{ $('Loop Over Items1').item.json.body.content }}","options":{}},"id":"c7f105d0-7f6b-40d8-98d5-0365340ec502","name":"Markdown1","type":"n8n-nodes-base.markdown","position":[-580,760],"notesInFlow":true,"typeVersion":1,"notes":"Converts the body of the email to markdown"},{"parameters":{"assignments":{"assignments":[{"id":"edb304e1-3e9f-4a77-918c-25646addbc53","name":"subject","type":"string","value":"={{ $json.subject }}"},{"id":"57a3ef3a-2701-40d9-882f-f43a7219f148","name":"importance","type":"string","value":"={{ $json.importance }}"},{"id":"d8317f4f-aa0e-4196-89af-cb016765490a","name":"sender","type":"object","value":"={{ $json.sender.emailAddress }}"},{"id":"908716c8-9ff7-4bdc-a1a3-64227559635e","name":"from","type":"object","value":"={{ $json.from.emailAddress }}"},{"id":"ce007329-e221-4c5a-8130-2f8e9130160f","name":"body","type":"string","value":"={{ $json.data\n .replace(/<[^>]*>/g, '') // Remove HTML tags\n .replace(/\\[(.*?)\\]\\((.*?)\\)/g, '') // Remove Markdown links like [text](link)\n .replace(/!\\[.*?\\]\\(.*?\\)/g, '') // Remove Markdown images like ![alt](image-link)\n .replace(/\\|/g, '') // Remove table separators \"|\"\n .replace(/-{3,}/g, '') // Remove horizontal rule \"---\"\n .replace(/\\n+/g, ' ') // Remove multiple newlines\n .replace(/([^\\w\\s.,!?@])/g, '') // Remove special characters except essential ones\n .replace(/\\s{2,}/g, ' ') // Replace multiple spaces with a single space\n .trim() // Trim leading/trailing whitespace\n}}\n"}]},"options":{}},"id":"7933ea43-c0ef-4dd5-8bdb-21bc71122f4d","name":"varEmal1","type":"n8n-nodes-base.set","position":[-380,760],"typeVersion":3.4,"notes":"Set email fields"},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"79f8cc01-b4fc-46cb-a6ab-94389144ef7c","name":"Microsoft Outlook20","type":"n8n-nodes-base.microsoftOutlook","position":[1700,960],"typeVersion":2,"webhookId":"66b96570-b66c-46b5-acc6-9cbf62e563aa"},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"9b68eec6-2e80-42f9-926e-379bd5dfcda8","name":"Microsoft Outlook21","type":"n8n-nodes-base.microsoftOutlook","position":[1720,1340],"typeVersion":2,"webhookId":"7d1f2744-3149-40ff-a64c-9692c07a9ac3"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c8cd6917-f94e-4fb7-8601-b8ed8f1aa8bf","operator":{"type":"array","operation":"empty","singleValue":true},"leftValue":"={{ $json.categories }}","rightValue":""}]},"options":{}},"id":"5abed00e-d3e4-4eea-8d19-c23a9602eaa8","name":"Filter1","type":"n8n-nodes-base.filter","position":[-1100,740],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f8cf2a56-cea8-4150-b7a0-048dbda20f2f","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.isRead }}","rightValue":""}]},"options":{}},"id":"f89d7dc2-ed35-4f06-a28f-2029b0af9f17","name":"If1","type":"n8n-nodes-base.if","position":[2320,960],"typeVersion":2.2,"notes":"Checks if the email has been read"},{"parameters":{"operation":"update","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"updateFields":{"categories":"={{ \n [$('varJSON1').first().json.output.category, $('varJSON1').first().json.output.subCategory]\n .filter(item => item && item.trim() !== \"\")\n .map(item => item.charAt(0).toUpperCase() + item.slice(1))\n}}"}},"id":"e154dd45-1f82-4894-b5a0-eaaa35f35bbc","name":"Microsoft Outlook22","type":"n8n-nodes-base.microsoftOutlook","position":[1720,1160],"typeVersion":2,"webhookId":"a627d1ef-a0e8-4507-819c-9bf188545933"},{"parameters":{"assignments":{"assignments":[{"id":"0dc6d439-60fb-49f6-b4d5-f5cce6f030ad","name":"error","type":"string","value":"={{ $json }}"}]},"options":{}},"id":"fae3faf8-4549-45a2-8315-135c9834b492","name":"Catch Errors1","type":"n8n-nodes-base.set","position":[760,900],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"0c52f57f-74eb-4385-ac6b-f3e5f4f50e73","name":"output","type":"object","value":"={{ $json.output.replace(/^.*?({.*}).*$/s, '$1') }}"}]},"options":{"ignoreConversionErrors":true}},"id":"f91a976a-374d-4670-ad46-54a397693389","name":"varJSON1","type":"n8n-nodes-base.set","position":[540,760],"typeVersion":3.4,"onError":"continueErrorOutput"},{"parameters":{"content":"## Outlook Business with filters\nFilters:\n```\nflag/flagStatus eq 'notFlagged' and not categories/any()\n```\n\nThese filters ensure we do not process flagged emails or email that already have a category set.","height":401.49417117683515,"width":411.91693012378937},"id":"9e621cbb-62f7-4ac6-883a-6d0a0ee01651","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-1360,500],"typeVersion":1},{"parameters":{"operation":"getAll","limit":1,"output":"fields","fields":["flag","from","importance","replyTo","sender","subject","toRecipients","body","categories","isRead"],"filtersUI":{"values":{"filters":{"custom":"flag/flagStatus eq 'notFlagged' and not categories/any()","foldersToInclude":["AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj-aQEAnz-IOcWBGE2lrVuQgAF6zAAAAgEMAAAA"]}}},"options":{}},"id":"7ff388cb-3276-4ac9-b030-05cfefa6173e","name":"Microsoft Outlook23","type":"n8n-nodes-base.microsoftOutlook","position":[-1300,740],"typeVersion":2,"webhookId":"06747951-44b2-4d14-8de1-bdc32acc1857"},{"parameters":{"assignments":{"assignments":[{"id":"de2ad4f2-7381-4715-a3f4-59611e161b74","name":"id","type":"string","value":"={{ $('Microsoft Outlook23').item.json.id }}"},{"id":"458c7a89-e4a3-46d0-8b38-72d87748e306","name":"category","type":"string","value":"\"action\", \"junk\", \"receipt\", \"SaaS\", \"community\", \"business\" or \"other\""}]},"options":{}},"id":"050ac728-3828-4f96-86d2-7396ddaa1a75","name":"varID & Category1","type":"n8n-nodes-base.set","position":[-100,760],"typeVersion":3.4},{"parameters":{"content":"## Sanitise Email \nRemoves HTML and useless information in preparation for the AI Agent","height":301.40952380952365,"width":418.7820408163265,"color":6},"id":"c7c03632-e8a4-4988-98c4-df1ce215ad39","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-640,640],"typeVersion":1},{"parameters":{"content":"## Modify Categories \nEdit this to customise category selection","height":298.37931972789124,"width":256.16108843537415,"color":6},"id":"a047918f-46f8-4340-bc6d-f5fc545d50fa","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-180,640],"typeVersion":1},{"parameters":{"content":"## Convert to JSON\n* Ensures the Agent output to converted to JSON\n* Catches any errors and continues processing","height":463.0204081632651,"width":441.003537414966,"color":5},"id":"4418eb71-64c4-4b83-b568-6c876c8e817b","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[480,620],"typeVersion":1},{"parameters":{"content":"## Switch Categories\nEnsure your categories match the **varID & Category** Edit Fields node","height":454.93986394557805,"width":311.71482993197264,"color":5},"id":"6f6cabdc-1385-407e-80a2-f86274d1a78e","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[1120,620],"typeVersion":1},{"parameters":{"content":"## Set Categories\n","height":1289.0156245602684,"width":251.3480889735252,"color":4},"id":"8295a5a5-8ec5-44fc-a47c-dae74f45cfa6","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1640,220],"typeVersion":1},{"parameters":{"content":"## Move to Folders\n","height":770.995811762121,"width":251.3480889735252,"color":4},"id":"a8522b1a-e770-401e-bffb-07ce15a31976","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[1960,220],"typeVersion":1},{"parameters":{"content":"## Check if email has been read\n\n","height":293.65527013262994,"color":4},"id":"9f0aac3f-7b23-44fa-a9b1-f13bfde8b33a","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[2260,840],"typeVersion":1},{"parameters":{"operation":"move","messageId":{"__rl":true,"mode":"id","value":"={{ $('varID & Category1').item.json.id }}"},"folderId":{"__rl":true,"mode":"list","value":"AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj-aQEAnz-IOcWBGE2lrVuQgAF6zAADLJmrCwAAAA==","cachedResultUrl":"https://outlook.office365.com/mail/AQMkAGE3ZTU5MGMzLTFkNGItNGQ5Zi04MDQ1LThmNGFlMTVhYjMwYgAuAAAD8UhruVwm402lgPBG2Tj%2FaQEAnz%2FIOcWBGE2lrVuQgAF6zAADLJmrCwAAAA%3D%3D","cachedResultName":"Actioned"}},"id":"5065b68e-67e4-44c3-a70d-a0bc59b8f6b8","name":"Microsoft Outlook Move Message1","type":"n8n-nodes-base.microsoftOutlook","position":[2620,900],"typeVersion":2,"webhookId":"ac0f1977-861d-46c3-8c3d-fda2e18f30bd"},{"parameters":{"promptType":"define","text":"=Categorise the following email\n<email>\n{{ $('varEmal1').first().json.toJsonString() }}\n</email>\n\nEnsure your final output is valid JSON with no additional text or token in the following format:\n\n{\n \"subject\": \"SUBJECT_LINE\",1\n \"category\": \"CATEGORY\",\n \"subCategory\": \"SUBCATEGORY\", //use sparingly\n \"analysis\": \"ANALYSIS_REASONING\"\n}\n\nRemember you can only use ONE of the following categories {{ $json.category }}. No other categories can be used. Use the subcategory for additional context, for example, if a SaaS email requires action, or if a business email requires action. Do not create any additional subcategories, you can only use ONE of the following {{ $json.category }}.","hasOutputParser":true,"options":{"systemMessage":"=You're an AI assistant for a freelance developer, categorizing emails as {{ $json.category }}. Email info is in <email> tags.\n\nCategorization priority:\n\nAction: Needs response or action (includes some SaaS emails), avoid sales email but include enquires.\nJunk: Ads, sales, newsletters, promotions, daily digests, (emojis often indicate junk), phishing, scams, discounts etc.\nReceipt: Any purchase confirmation.\nSaaS: Account/security updates, unless action required, generic SaaS information, usually from a non-personal email address.\nCommunity: Updates, events, forums, everything related to \"community\".\nBusiness: Any communication related to freelance work, usually from a humans email address\nOther: Doesn't fit into any other category.\n\nKey points:\n\nSaaS emails needing action are \"SaaS\" and subcategory \"action\".\nAnalyze the subject, body, email addresses and other data.\nLook for specific keywords and phrases for each category.\nEmail can have 2 categories, primary and sub, for example, \"action\" and \"SaaS\" or \"action\" and \"business\".\nEmails from business development executives are often junk.\n\n\nOutput in valid JSON format:\n{\n\"subject\": \"SUBJECT_LINE\",\n\"category\": \"PRIMARY CATEGORY\",\n\"subCategory\": \"SUBCATEGORY\", //use sparingly\n\"analysis\": \"Brief 1-2 sentence explanation of category choice\"\n}\nNo additional text or tokens outside the JSON.\n\nYou may only use the following categories and subcategories, do not create any more categories or subcategories: {{ $json.category }}"}},"id":"74cf2997-bc3c-4438-9553-0c085d586827","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[160,760],"typeVersion":1.6},{"parameters":{"numberInputs":7},"id":"736aa76e-11db-4ab8-939f-000da47e6bf4","name":"Merge1","type":"n8n-nodes-base.merge","position":[3000,860],"typeVersion":3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.output.category }}","rightValue":"junk"}]},"renameOutput":true,"outputKey":"junk"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0c61c7a8-e8b4-49c5-a96c-402d5eae7089","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.category }}","rightValue":"receipt"}]},"renameOutput":true,"outputKey":"receipt"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"703f65c8-cf4a-47fe-ad1a-a5f6e0412ae7","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.category }}","rightValue":"SaaS"}]},"renameOutput":true,"outputKey":"SaaS"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b074d5cd-9215-40df-8877-5df904edc000","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.category }}","rightValue":"community"}]},"renameOutput":true,"outputKey":"community"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"bece338a-e0c5-43b5-b8cc-41229a374213","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.category }}","rightValue":"action"}]},"renameOutput":true,"outputKey":"action"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d6c9751f-0ffa-4041-a579-6957bb9c9296","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.category }}","rightValue":"business"}]},"renameOutput":true,"outputKey":"business"}]},"options":{"fallbackOutput":"extra","ignoreCase":true}},"id":"29c58fae-8a33-40de-b86a-52a8f83dcad1","name":"Switch1","type":"n8n-nodes-base.switch","position":[1220,780],"typeVersion":3.2}],"connections":{"If1":{"main":[[{"node":"Microsoft Outlook Move Message1","type":"main","index":0}],[{"node":"Merge1","type":"main","index":5}]]},"Merge1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Microsoft Outlook12","type":"main","index":0}],[{"node":"Microsoft Outlook13","type":"main","index":0}],[{"node":"Microsoft Outlook18","type":"main","index":0}],[{"node":"Microsoft Outlook16","type":"main","index":0}],[{"node":"Microsoft Outlook20","type":"main","index":0}],[{"node":"Microsoft Outlook22","type":"main","index":0}],[{"node":"Microsoft Outlook21","type":"main","index":0}]]},"varEmal1":{"main":[[{"node":"varID & Category1","type":"main","index":0}]]},"varJSON1":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Catch Errors1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"varJSON1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"varEmal1","type":"main","index":0}]]},"Catch Errors1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Markdown1","type":"main","index":0}]]},"varID & Category1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Microsoft Outlook10":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Microsoft Outlook12":{"main":[[{"node":"Microsoft Outlook10","type":"main","index":0}]]},"Microsoft Outlook13":{"main":[[{"node":"Microsoft Outlook15","type":"main","index":0}]]},"Microsoft Outlook15":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Microsoft Outlook16":{"main":[[{"node":"Microsoft Outlook17","type":"main","index":0}]]},"Microsoft Outlook17":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Microsoft Outlook18":{"main":[[{"node":"Microsoft Outlook19","type":"main","index":0}]]},"Microsoft Outlook19":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Microsoft Outlook20":{"main":[[{"node":"If1","type":"main","index":0}]]},"Microsoft Outlook21":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Microsoft Outlook22":{"main":[[{"node":"If1","type":"main","index":0}]]},"Microsoft Outlook23":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Microsoft Outlook Move Message1":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Microsoft Outlook23","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"269bedc2-7f9e-4b06-ae9a-0a6e6c1b9272","triggerCount":0,"tags":[]}