boutique-business-usa-outreach-machine-with-google-maps-itOzGEdm7g3StTGY.json
{"createdAt":"2025-06-24T05:19:26.622Z","updatedAt":"2025-07-16T09:08:21.000Z","id":"itOzGEdm7g3StTGY","name":"Boutique Business USA Outreach Machine with Google Maps","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Google Scraper Form","formFields":{"values":[{"fieldLabel":"City","requiredField":true},{"fieldLabel":"Country","requiredField":true},{"fieldLabel":"Max Search","fieldType":"number","requiredField":true},{"fieldLabel":"Category","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1400,40],"id":"d2d91754-932c-45e4-bfb4-db385c77ab85","name":"On form submission","webhookId":"c26337e2-0aec-404b-91b8-33662b2e4455"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/run-sync-get-dataset-items?token=apify_api_rXsSfi6oeTgg9DsVyRE0sDdBmhjV1n4wc6n1","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.City }}, {{ $json.Country }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Max Search'] }},\n    \"searchStringsArray\": [\n        \"{{ $json.Category }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-900,40],"id":"6bac9eaa-eccf-4dea-bb3f-e8b4c793af07","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Search Query":"={{ $('On form submission').item.json.Category }}","Business Name":"={{ $json.title }}","Address":"={{ $json.address }}","Pincode":"={{ $json.postalCode }}","City":"={{ $json.city }}","State":"={{ $json.state }}","Reviews":"={{ $json.reviewsCount }}","Image Count":"={{ $json.imagesCount }}","Website URL":"={{ $json.website }}","Linkedin":"={{ $json.linkedIns[0] }}","Twitter":"={{ $json.twitters[0] }}","Instagram":"={{ $json.instagrams[0] }}","YouTube":"={{ $json.youtubes[0] }}","Phone Number":"={{ $json.phones[0] }}","Email":"={{ $json.emails[0] }}","Mail Sent":"N"},"matchingColumns":[],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-680,40],"id":"bc433634-bfb8-46ab-87db-fb2bf184ec8c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4537e215-2aef-453d-985c-a05cf8b0b46f","leftValue":"={{ $json.Email }}","rightValue":"FILL","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,20],"id":"39c64434-3bdf-4d5f-aa2d-d743f14476ca","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"5d71b265-8281-46a2-acd1-3b770238759e","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Input data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}"},{"content":"=You are an AI agent crafting a compelling, concise cold email for Fibre2Fashion Pvt Ltd, a 25-year-old Indian digital marketing agency, targeting clothing and apparel brands/manufacturers in the USA. Use a professional, tailored tone to introduce services and drive engagement.\n\n## Context  \n- These icebreakers are used at the top of cold emails to set a friendly, non-salesy tone.  \n- The goal is to create instant rapport, not to pitch.    \n- Avoid generic phrasing like \"always great to connect with people in X\"—focus directly on the recipient.  \n- Long company names should be simplified to how they would be said in conversation.  \n\n## Instructions  \nAddress the recipient by their first name for a personal touch.\nHighlight a specific, relevant detail from their background (e.g., {{ $json['Business Name'] }}, {{ $json.City }}, {{ $json['Search Query'] }}, {{ $json['Website URL'] }}) to show genuine interest.\nOptionally, weave in shared context with the sender (e.g., both in Ahmedabad, same industry) to create connection.\nOffer a free brand audit as a high-value, no-strings opportunity to amplify their online presence, emphasizing unique insights tailored to their business.\nEnd with an engaging, low-pressure call-to-action:The goal is to introduce Fibre2Fashion’s services, spark interest, and drive responses via WhatsApp (https://wa.me/917574845628) or Calendly (https://calendly.com/sunilpatel-f2f/30min).\nKeep the message under 700 characters, conversational, and laser-focused to spark a \"Yes\" reply or WhatsApp click.\nAvoid emojis, hashtags, additional links (except WhatsApp), formalities, or vague phrases like \"hope you’re well\" or \"great to connect.\"\n\nInstructions that you have to follow: \n\nCraft a cold email that exactly follows this structure, keeping the body (excluding footer) under 700 characters:\n\nIt should be like below email format:\n\nLoved the boutique vibe of [Business Name]’s stunning [Search Query-related detail] in [City]. \nWe are Fibre2Fashion Pvt Ltd, from India and we are 25 years old company. You can check more about us at https://www.fibre2fashion.com\nI will keep it short.\nWe offer all the below mentioned valuable services at just $999 a month. Wondering if your business needs any of these services\n- Social Media Management\n- UGC Content Creation\n- Influencer Management\n- eCommerce Management\n- Website Management & SEO\n- Website Maintenance (Technical)\n- Performance Marketing\nAdditional Chargeable Services\n- Website Development: Starts at $500\n- Local SEO Boost: Starts at $200\n- Automation Tools*: Web tools with AI features. Starts at $500\n- Agentic AI*: Agents that work for you 24/7. Starts at $250\n\nBook the meeting using this link https://calendly.com/sunilpatel-f2f/30min or\nWhatsapp me directly at https://wa.me/917574845628\n\nRegards,\nAlex Carter\nFibre2Fashion Team\n\n\n## Tools  \n- Input data fields (recipient):  \nInput data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}\n\n## Examples  \n## SOP (Standard Operating Procedure)    \n1. Extract a specific, interesting detail from the input data.  \n2. If appropriate, reference the user’s shared context (e.g., mutual location, industry focus).  \n\n\n## Final Notes  \n- Do not include emojis, links, hashtags, or formalities.  Just Tell that to continue further you can connect us on whatsapp with this link https://wa.me/917574845628\n- Avoid generic intros and focus on personalized, 1:1 tone.  \n- Think of the icebreaker like a quick, thoughtful DM that tees up a conversation.\n- ALSO AS MENTIONED, MENTION DETAILS ABOUT ALL OUR SERVICES AS GIVEN\n- DONT FORGET TO MENTION LINKS IN THIS TEXT (Book the meeting using this link https://calendly.com/sunilpatel-f2f/30min or Whatsapp me directly at https://wa.me/917574845628)\n- You Just need to write Body (NO GREETINGS OR SUBJECT REQUIRED)","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,220],"id":"764a08c9-2b83-461e-b108-bfa1b56b3003","name":"OpenAI","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"columns":{"mappingMode":"defineBelow","value":{"Email Content":"={{ $json.message.content }}","Mail":"={{ $('If').item.json.Email }}","Time Stamp":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Email Content","displayName":"Email Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,280],"id":"1f6e7b7c-1c90-4782-b455-7d653dedc220","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"City":"={{ $json.City }}","Country":"={{ $json.Country }}","Max Search":"={{ $json['Max Search'] }}","Category":"={{ $json.Category }}","Submitted Date and Time":"={{ $json.submittedAt }}","Actor Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1160,40],"id":"45927e19-2a08-4375-b0f0-4598e15b5717","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"=Are you Owner of {{ $('Google Sheets').item.json['Business Name'] }}?, We Found Insights for You to Skyrocket Your Business !","emailType":"text","message":"={{ $json['Email Content'] }}\n\nRegards,\nSunil Patel\nFibre2Fashion Team","options":{"appendAttribution":false,"ccList":"vimal.bachani@fibre2fashion.com, sunil.patel@fibre2fashion.com,swapnil.mandloi@fibre2fashion.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1580,280],"id":"114c6cbf-9a80-4844-8ec4-d519f7da6411","name":"Gmail","webhookId":"32ff6fc4-597e-488b-aeec-3589fc4a8ab0","credentials":{"gmailOAuth2":{"id":"zb2SFezh3gdfi2zl","name":"Sunil Patel Gmail API"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Mail Sent":"Y","Email":"={{ $('Google Sheets').item.json.Email }}"},"matchingColumns":["Email"],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[620,-200],"id":"943c59a8-03c9-4c9f-ad3d-40ce29c449fd","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Submitted Date and Time":"={{ $('On form submission').item.json.submittedAt }}","Actor Status":"Done"},"matchingColumns":["Submitted Date and Time"],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1560,-200],"id":"d01f37cc-857f-48f1-a1a3-9cf9b4319620","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"amount":30,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1260,280],"id":"7f1b3cbc-6389-4348-805b-92ebdbe09328","name":"Wait","webhookId":"9e3627da-4ebf-4ae7-b024-cf0a94926e81"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ee56d8-21ac-4b2b-b9fe-61439cf7503c","leftValue":"={{ $('Google Sheets').item.json['Mail Sent'] }}","rightValue":"N","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"09b67abe-17d5-4f05-99c3-f539d5eb5cf6","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b829d61c-a24e-4276-bdea-a62bb7851e2a","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,280],"id":"6d8772ef-37f2-4301-bd26-edc7c064b5ce","name":"If1"},{"parameters":{"content":"## Scraping Segment","height":460,"width":1340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1480,-160],"id":"3f6faec2-b20d-4ae6-86e9-e0633cd43db0","name":"Sticky Note"},{"parameters":{"content":"## Email Draft Creation & Sending Process\n","height":860,"width":1900,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,-320],"id":"1c4b52cf-8cc6-4bf5-9275-dbee4303a6f9","name":"Sticky Note1"}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets3","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"If1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"695987c8-7b1a-49cd-9234-34b03eea5b9b","triggerCount":1,"tags":[]}