cms-identifier-0i4W5CSgf0bBb5xZ.json
{"createdAt":"2025-06-13T06:09:10.442Z","updatedAt":"2025-06-30T08:20:10.000Z","id":"0i4W5CSgf0bBb5xZ","name":"CMS Identifier","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"287b44cd-c6b1-484c-b7c5-b16c3ed194d2","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://whatcms.org/APIEndpoint","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"w43omt33myjc0jyeeshkxhxg0ekwviehj875q5iuq2n722ir0nl0hdi45nzf8f0eyt7psc"},{"name":"url","value":"={{ $json['Website Link'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,-20],"id":"ecd0f99f-38a4-4eff-b3eb-abd2648d7bc9","name":"HTTP Request1"},{"parameters":{"documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"70dd7c55-91d2-424d-9909-2f07dd51daa9","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdbccbb3-10ad-4973-a248-8a40ee78e40e","leftValue":"={{ $json['Website Built'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[760,0],"id":"059a9aeb-d22b-4412-82df-3b463ec17308","name":"If"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,-20],"id":"fd7e2700-d55c-4bce-9bcd-bbb4f90dcdb7","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"29dd44c3-1489-4fd8-982c-8dbb385d4949","name":"Website Link","value":"={{ $json['Website Link'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-20],"id":"b0562ee2-0937-4f66-afe5-bc16b0012b70","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7681c793-e496-4023-be72-220bac384aa2","name":"Website Link","value":"={{ $json['Website Link'] }}","type":"string"},{"id":"67cb359a-b24f-4d09-b5fe-cb747bc18292","name":"Website Built","value":"={{ $json['Website CMS Type'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"a1c73572-66a9-4c32-95fa-d2031385496f","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"seconds","secondsInterval":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-120,180],"id":"d778b062-6d2c-4db8-ab83-7e667d9d6820","name":"Schedule Trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.result.code }}","rightValue":120,"operator":{"type":"number","operation":"equals"},"id":"1bcbe594-2d11-4dd8-bbff-9c1832d43195"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"223502cc-da4f-4f2f-b8cb-4a335ed65123","leftValue":"={{ $json.result.code }}","rightValue":200,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c14eba57-ba4c-48b0-a7ef-3043f8fdafee","leftValue":"={{ $json.result.code }}","rightValue":201,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1920,-20],"id":"f45fedb0-c260-49db-ae7d-0b747a14328d","name":"Switch"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Website CMS Type":"=Custom","Website Link":"={{ $('Google Sheets').item.json['Website Link'] }}"},"matchingColumns":["Website Link"],"schema":[{"id":"Sr No","displayName":"Sr No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audit Report","displayName":"Audit Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brand/Company","displayName":"Brand/Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Model","displayName":"Business Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POC Name","displayName":"POC Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 1","displayName":"Contact 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 2","displayName":"Contact 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Link","displayName":"Website Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website CMS Type","displayName":"Website CMS Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Built","displayName":"Website Built","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Class","displayName":"Website Class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Response","displayName":"Mobile Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organic Traffic","displayName":"Organic Traffic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domain Authority","displayName":"Domain Authority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Blogs","displayName":"Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Products","displayName":"Total Products","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Paid Campaigns","displayName":"Paid Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Active Campaigns","displayName":"Active Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Marketplace Presence","displayName":"Marketplace Presence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Followers","displayName":"Instagram Followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UGC Content","displayName":"UGC Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Inffluencer Activity","displayName":"Inffluencer Activity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Youtube Subs","displayName":"Youtube Subs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Business","displayName":"Google Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Country Rank","displayName":"Website Country Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website Visitors","displayName":"Website Visitors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Bounce Rate","displayName":"Bounce Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Run Status","displayName":"Run Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email New","displayName":"Email New","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tiktok","displayName":"Tiktok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Update","displayName":"Status Update","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2320,-160],"id":"58b4e7ef-931c-44e0-83f8-ffba0d47b25b","name":"Website is custom","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Website CMS Type":"={{ $json.result.name }}","Website Link":"={{ $('Google Sheets').item.json['Website Link'] }}"},"matchingColumns":["Website Link"],"schema":[{"id":"Sr No","displayName":"Sr No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Audit Report","displayName":"Audit Report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brand/Company","displayName":"Brand/Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Model","displayName":"Business Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POC Name","displayName":"POC Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 1","displayName":"Contact 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 2","displayName":"Contact 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Link","displayName":"Website Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website CMS Type","displayName":"Website CMS Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Built","displayName":"Website Built","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Class","displayName":"Website Class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Response","displayName":"Mobile Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organic Traffic","displayName":"Organic Traffic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domain Authority","displayName":"Domain Authority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Blogs","displayName":"Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Products","displayName":"Total Products","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Paid Campaigns","displayName":"Paid Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Active Campaigns","displayName":"Active Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Marketplace Presence","displayName":"Marketplace Presence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Followers","displayName":"Instagram Followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UGC Content","displayName":"UGC Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Inffluencer Activity","displayName":"Inffluencer Activity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Youtube Subs","displayName":"Youtube Subs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Business","displayName":"Google Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Country Rank","displayName":"Website Country Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website Visitors","displayName":"Website Visitors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Bounce Rate","displayName":"Bounce Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Run Status","displayName":"Run Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email New","displayName":"Email New","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tiktok","displayName":"Tiktok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Update","displayName":"Status Update","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2320,20],"id":"16d98e1e-bc31-4786-8248-b5aaab96c50a","name":"Website has CMS","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Limit":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Website is custom","type":"main","index":0}],[{"node":"Website has CMS","type":"main","index":0}],[{"node":"Website is custom","type":"main","index":0}]]},"Website is custom":{"main":[[]]},"Website has CMS":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ddb851a2-ec06-4b87-ab8c-c6342550b9ef","triggerCount":1,"tags":[]}