create-a-google-analytics-data-report-with-ai-and-sent-it-to-e-mail-dLHlP5ACU68386RX.json
{"createdAt":"2025-07-15T04:21:59.356Z","updatedAt":"2025-07-15T04:23:55.000Z","id":"dLHlP5ACU68386RX","name":"Create a Google Analytics Data Report with AI and sent it to E-Mail","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":7}]}},"id":"06ebaef1-114e-4ab7-bff3-03b83d3306ee","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[480,220],"typeVersion":1.2},{"parameters":{"propertyId":{"__rl":true,"mode":"list","value":"345060083","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p345060083/","cachedResultName":"https://www.ep-reisen.de  – GA4"},"metricsGA4":{"metricValues":[{"listName":"screenPageViews"},{},{"listName":"sessions"},{"listName":"sessionsPerUser"},{"listName":"other","name":"averageSessionDuration"},{"listName":"other","name":"ecommercePurchases"},{"listName":"other","name":"averagePurchaseRevenue"},{"listName":"other","name":"purchaseRevenue"}]},"dimensionsGA4":{"dimensionValues":[{}]},"additionalFields":{}},"id":"5f024406-2ae2-4f3c-98af-d4cfeba9875c","name":"Google Analytics Letzte 7 Tage","type":"n8n-nodes-base.googleAnalytics","position":[680,220],"typeVersion":2},{"parameters":{"fromEmail":"friedemann.schuetz@posteo.de","toEmail":"friedemann.schuetz@ep-reisen.de","subject":"Weekly Report: Google Analytics: Last 7 days","html":"={{ $json.message.content }}","options":{}},"id":"36df311a-123b-4f7f-ba03-4df9a7c1e198","name":"Send Email","type":"n8n-nodes-base.emailSend","position":[2660,220],"typeVersion":2.1,"webhookId":"f9e27fe1-eb66-4b9a-96b0-c8a42d7ebf2c"},{"parameters":{},"id":"282c2f9d-d887-4279-b667-d5d9281a3185","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","position":[2340,420],"typeVersion":1},{"parameters":{"propertyId":{"__rl":true,"mode":"list","value":"345060083","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p345060083/","cachedResultName":"https://www.ep-reisen.de  – GA4"},"dateRange":"custom","startDate":"={{ $json.startDate }}","endDate":"={{ $json.endDate }}","metricsGA4":{"metricValues":[{"listName":"screenPageViews"},{},{"listName":"sessions"},{"listName":"sessionsPerUser"},{"listName":"other","name":"averageSessionDuration"},{"listName":"other","name":"ecommercePurchases"},{"listName":"other","name":"averagePurchaseRevenue"},{"listName":"other","name":"purchaseRevenue"}]},"dimensionsGA4":{"dimensionValues":[{}]},"additionalFields":{}},"id":"a96574e0-d3c0-49f9-b301-0e724ed4d0b7","name":"Google Analytics: Past 7 days of the previous year","type":"n8n-nodes-base.googleAnalytics","position":[1620,220],"typeVersion":2},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"Aufrufe"},{"aggregation":"sum","field":"Nutzer"},{"aggregation":"sum","field":"Sitzungen"},{"aggregation":"average","field":"Sitzungen pro Nutzer"},{"aggregation":"average","field":"Sitzungsdauer"},{"aggregation":"sum","field":"Käufe"},{"aggregation":"average","field":"Revenue pro Kauf"},{"aggregation":"sum","field":"Revenue"},{"field":"date"}]},"options":{}},"id":"a797621a-722d-42fc-b337-37936661372b","name":"Summarize Data","type":"n8n-nodes-base.summarize","position":[1140,220],"typeVersion":1},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"Aufrufe"},{"aggregation":"sum","field":"Nutzer"},{"aggregation":"sum","field":"Sitzungen"},{"aggregation":"average","field":"Sitzungen pro Nutzer"},{"aggregation":"average","field":"Sitzungsdauer"},{"aggregation":"sum","field":"Käufe"},{"aggregation":"average","field":"Revenue pro Kauf"},{"aggregation":"sum","field":"Revenue"},{"field":"date"}]},"options":{}},"id":"1865f2ba-06a8-424a-8e23-78778f97c79a","name":"Summarize Data1","type":"n8n-nodes-base.summarize","position":[2000,220],"typeVersion":1},{"parameters":{"jsCode":"return {\n // Berechnung des Startdatums: Vorjahr, gleiche Woche, 7 Tage zurück\n startDate: (() => {\n const date = new Date();\n date.setFullYear(date.getFullYear() - 1); // Zurück ins Vorjahr\n date.setDate(date.getDate() - 7); // 7 Tage zurück\n return date.toISOString().split('T')[0];\n })(),\n \n // Berechnung des Enddatums: Vorjahr, heutiges Datum\n endDate: (() => {\n const date = new Date();\n date.setFullYear(date.getFullYear() - 1); // Zurück ins Vorjahr\n return date.toISOString().split('T')[0];\n })(),\n};\n"},"id":"548ff5e7-3e46-41c3-b551-5a4fdbc1e10e","name":"Calculation same period previous year","type":"n8n-nodes-base.code","position":[1380,220],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"9c2f8b9a-e964-49a0-8837-efb0dfd7bcae","name":"Aufrufe","type":"number","value":"={{ $json.screenPageViews }}"},{"id":"8b524518-1268-4971-b5c9-ae7da09d94f9","name":"Nutzer","type":"number","value":"={{ $json.totalUsers }}"},{"id":"ca7279b9-c643-425f-aa99-cb17146e9994","name":"Sitzungen","type":"number","value":"={{ $json.sessions }}"},{"id":"591288f7-e8cf-445e-872a-5b83f997b825","name":"Sitzungen pro Nutzer","type":"number","value":"={{ $json.sessionsPerUser }}"},{"id":"dc1a43da-3f3a-4dca-bbde-904222d7f693","name":"Sitzungsdauer","type":"number","value":"={{ $json.averageSessionDuration }}"},{"id":"eac0b53e-c452-40b8-92bc-8af8ea349984","name":"=Käufe","type":"number","value":"={{ $json.ecommercePurchases }}"},{"id":"b96439be-189d-4ebe-b49e-d5c31fefe9f0","name":"Revenue pro Kauf","type":"number","value":"={{ $json.averagePurchaseRevenue }}"},{"id":"94835d43-2fc8-49c0-97f0-6f0f8699337a","name":"Revenue","type":"number","value":"={{ $json.purchaseRevenue }}"},{"id":"d70f8138-3b84-4b88-a98f-eb929e1cc29a","name":"date","type":"string","value":"={{ $json.date }}"}]},"options":{}},"id":"289f9730-adfe-44a6-ae56-e7ee304e1b1a","name":"Assign data","type":"n8n-nodes-base.set","position":[920,220],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"9c2f8b9a-e964-49a0-8837-efb0dfd7bcae","name":"Aufrufe","type":"number","value":"={{ $json.screenPageViews }}"},{"id":"8b524518-1268-4971-b5c9-ae7da09d94f9","name":"Nutzer","type":"number","value":"={{ $json.totalUsers }}"},{"id":"ca7279b9-c643-425f-aa99-cb17146e9994","name":"Sitzungen","type":"number","value":"={{ $json.sessions }}"},{"id":"591288f7-e8cf-445e-872a-5b83f997b825","name":"Sitzungen pro Nutzer","type":"number","value":"={{ $json.sessionsPerUser }}"},{"id":"dc1a43da-3f3a-4dca-bbde-904222d7f693","name":"Sitzungsdauer","type":"number","value":"={{ $json.averageSessionDuration }}"},{"id":"eac0b53e-c452-40b8-92bc-8af8ea349984","name":"=Käufe","type":"number","value":"={{ $json.ecommercePurchases }}"},{"id":"b96439be-189d-4ebe-b49e-d5c31fefe9f0","name":"Revenue pro Kauf","type":"number","value":"={{ $json.averagePurchaseRevenue }}"},{"id":"94835d43-2fc8-49c0-97f0-6f0f8699337a","name":"Revenue","type":"number","value":"={{ $json.purchaseRevenue }}"},{"id":"dd8255c6-65b1-41ce-b596-70c09108d6e2","name":"=date","type":"string","value":"={{ $json.date }}"}]},"options":{}},"id":"59f5a48b-c258-44b2-902b-7da8e9559c15","name":"Assign data1","type":"n8n-nodes-base.set","position":[1820,220],"typeVersion":3.4},{"parameters":{"content":"Welcome to my Google Analytics Weekly Report Workflow!\n\nThis workflow has the following sequence:\n\n1. time trigger (e.g. every Monday at 7 a.m.)\n2. retrieval of Google Analytics data from the last 7 days\n3. assignment and summary of the data\n4. retrieval of Google Analytics data from the last 7 days of the previous year\n5. allocation and summary of the data\n6. preparation in tabular form and brief analysis by AI.\n7. sending the report as an email\n8. preparation in short form by AI for Telegram (optional)\n9. sending as Telegram message.\n\nThe following accesses are required for the workflow:\n- Google Analytics (via Google Analytics API): https://docs.n8n.io/integrations/builtin/credentials/google/\n- AI API access (e.g. via OpenAI, Anthropic, Google or Ollama)\n- SMTP access data (for sending the mail)\n- Telegram access data (optional for sending as Telegram message): https://docs.n8n.io/integrations/builtin/credentials/telegram/\n\n","height":560,"width":440},"id":"15083742-cf37-477f-a3dd-1bd1a3ae2a0c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Please analyze the following data and output the results in tabular form:\n\n| Metrics | Last 7 days | Previous year | Percentage change |\n|-------------------------------|---------------|---------|\n| Total page views | {{ $('Summarize Data').item.json.sum_Aufrufe }} | {{ $('Summarize Data1').item.json.sum_Aufrufe }} | Percentage change |\n| total users | {{ $('Summarize Data').item.json.sum_Nutzer }} | {{ $('Summarize Data1').item.json.sum_Nutzer }} | Percentage change |\n| Total sessions | {{ $('Summarize Data').item.json.sum_Sitzungen }} | {{ $('Summarize Data1').item.json.sum_Sitzungen }} | Percentage change |\n| Average sessions/user | {{ $('Summarize Data').item.json.average_Sitzungen_pro_Nutzer }} | {{ $('Summarize Data1').item.json.average_Sitzungen_pro_Nutzer }} | Percentage change |\n| Average session duration | {{ $('Summarize Data').item.json.average_Sitzungsdauer }} | {{ $('Summarize Data1').item.json.average_Sitzungsdauer }} | Percentage change |\n| Total purchases | {{ $('Summarize Data').item.json['sum_Käufe'] }} | {{ $('Summarize Data1').item.json['sum_Käufe'] }} | Percentage change |\n| Average revenue/purchase | {{ $('Summarize Data').item.json.average_Revenue_pro_Kauf }} | {{ $('Summarize Data1').item.json.average_Revenue_pro_Kauf }} | Percentage change |\n| Total revenue | {{ $('Summarize Data').item.json.sum_Revenue }} | {{ $('Summarize Data1').item.json.sum_Revenue }} | Percentage change |\n\nFormat for numbers:\n- Dot (.) for numbers in thousands (e.g. 4,000)\n- Comma (,) for decimal numbers (e.g. 3.4)\n- Conversion of average session duration in minutes instead of seconds\n- Average turnover/purchase and total turnover in €\n\nPlease write a short summary of the analyzed data above the table (in a maximum of 3 sentences!)\n\nPlease format to a sleek and modern HTML format so that the result can be sent as HTML mail!\n\nStructure of the e-mail:\n\n“Hello! Here is the Weekly Report: Google Analytics of the last 7 days!\n[Summary]\n[Table]”"}]},"options":{}},"id":"754aae14-fef1-4fe8-8f65-e6a072d3f2ef","name":"Processing for email","type":"@n8n/n8n-nodes-langchain.openAi","position":[2240,220],"typeVersion":1.7}],"connections":{"Calculator":{"ai_tool":[[{"node":"Processing for email","type":"ai_tool","index":0}]]},"Assign data":{"main":[[{"node":"Summarize Data","type":"main","index":0}]]},"Assign data1":{"main":[[{"node":"Summarize Data1","type":"main","index":0}]]},"Summarize Data":{"main":[[{"node":"Calculation same period previous year","type":"main","index":0}]]},"Summarize Data1":{"main":[[{"node":"Processing for email","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Analytics Letzte 7 Tage","type":"main","index":0}]]},"Processing for email":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Google Analytics Letzte 7 Tage":{"main":[[{"node":"Assign data","type":"main","index":0}]]},"Calculation same period previous year":{"main":[[{"node":"Google Analytics: Past 7 days of the previous year","type":"main","index":0}]]},"Google Analytics: Past 7 days of the previous year":{"main":[[{"node":"Assign data1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1b5a8598-2240-4168-be66-7d1d07cbb303","triggerCount":0,"tags":[]}