email-iFstDuA3m851BxmM.json
{"createdAt":"2025-07-18T07:15:33.458Z","updatedAt":"2025-07-18T07:15:33.000Z","id":"iFstDuA3m851BxmM","name":"email","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"name":"Google Sheets - Read Contacts","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[0,0],"id":"ddc4d274-280d-46c3-8eaa-d161b36fa936","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"batchSize":1,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[200,0],"id":"a970049d-cf95-407b-a41a-5ecd163b90fe"},{"parameters":{"conditions":{"string":[{"value1":"={{$json[\"Email\"]}}","operation":"notEmpty"}]}},"name":"Check if Email Exists","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,0],"id":"97d1d99c-19cd-490b-b0ab-1c5433049c16"},{"parameters":{"fromEmail":"youremail@example.com","toEmail":"={{$json[\"Email\"]}}","subject":"={{`Boost Your Apparel Business in ${$json.City}`}}","text":"={{`Hi ${$json.Name},\n\nI came across ${$json[\"Company Name\"]} and was impressed by your work in ${$json.Category}. We help apparel businesses like yours streamline operations and boost visibility through tailored solutions.\n\nWould love to offer a free audit or discuss how we can help you scale.\n\nLet me know if we can connect this week.\n\nWarm regards,\nYour Name`}}","options":{}},"name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":1,"position":[600,0],"id":"121e9635-0a1c-4df4-b6da-a17bf1c605ba"},{"parameters":{"sheetId":"<YOUR_SHEET_ID>","range":"Sheet1!F:F","options":{}},"name":"Update Status in Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[800,0],"id":"00cd67f3-4d69-45ad-9593-d72eb370ffdd"}],"connections":{"Google Sheets - Read Contacts":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Check if Email Exists","type":"main","index":0}]]},"Check if Email Exists":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Update Status in Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2b1f3817-8100-49ca-96a0-b9e07ac1ec90","triggerCount":0,"tags":[]}