follow-up-XrLaLodlwgjXVg5a.json
{"createdAt":"2025-07-04T09:11:08.921Z","updatedAt":"2025-07-14T06:00:35.000Z","id":"XrLaLodlwgjXVg5a","name":"Outreach Machine with Google Maps W/Follow up","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Google Scraper Form","formFields":{"values":[{"fieldLabel":"City","requiredField":true},{"fieldLabel":"Country","requiredField":true},{"fieldLabel":"Max Search","fieldType":"number","requiredField":true},{"fieldLabel":"Category","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1380,200],"id":"ada8db05-c687-4299-bc7a-fd13044bb0ab","name":"On form submission","webhookId":"a0597d96-e4c3-498a-a53c-42b7f471b40b"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/run-sync-get-dataset-items?token=apify_api_jOJeEAtkKUbaFeXBxpEwHCdTU2AUf404y70R","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.City }}, {{ $json.Country }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Max Search'] }},\n    \"searchStringsArray\": [\n        \"{{ $json.Category }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,200],"id":"66bc85f3-e073-430c-8986-13eae82056a6","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Search Query":"={{ $('On form submission').item.json.Category }}","Business Name":"={{ $json.title }}","Address":"={{ $json.address }}","Pincode":"={{ $json.postalCode }}","City":"={{ $json.city }}","State":"={{ $json.state }}","Reviews":"={{ $json.reviewsCount }}","Image Count":"={{ $json.imagesCount }}","Website URL":"={{ $json.website }}","Linkedin":"={{ $json.linkedIns[0] }}","Twitter":"={{ $json.twitters[0] }}","Instagram":"={{ $json.instagrams[0] }}","YouTube":"={{ $json.youtubes[0] }}","Phone Number":"={{ $json.phones[0] }}","Email":"={{ $json.emails[0] }}","Mail Sent":"N"},"matchingColumns":[],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-660,200],"id":"228a10f0-546d-42e8-8056-bbd95dc1ade3","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4537e215-2aef-453d-985c-a05cf8b0b46f","leftValue":"={{ $json.Email }}","rightValue":"FILL","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-380,180],"id":"9a797c3a-7ed1-431c-a785-625e9c1a68d7","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"ae490c7b-67d3-45a0-a834-ae509937e6f9","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Input data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}"},{"content":"=You are an AI agent crafting a compelling, concise cold email icebreaker for a free brand audit, designed to be irresistible. Use a warm, tailored tone to build instant rapport and drive engagement. \n\n## Context  \n- These icebreakers are used at the top of cold emails to set a friendly, non-salesy tone.  \n- The goal is to create instant rapport, not to pitch.    \n- Avoid generic phrasing like \"always great to connect with people in X\"—focus directly on the recipient.  \n- Long company names should be simplified to how they would be said in conversation.  \n\n## Instructions  \nAddress the recipient by their first name for a personal touch.\nHighlight a specific, relevant detail from their background (e.g., {{ $json['Business Name'] }}, {{ $json.City }}, {{ $json['Search Query'] }}, {{ $json['Website URL'] }}) to show genuine interest.\nOptionally, weave in shared context with the sender (e.g., both in Ahmedabad, same industry) to create connection.\nOffer a free brand audit as a high-value, no-strings opportunity to amplify their online presence, emphasizing unique insights tailored to their business.\nEnd with an engaging, low-pressure call-to-action: \"Excited to explore this? Let’s chat on WhatsApp: https://wa.me/917574845628.\"\nKeep the message under 250 characters, conversational, and laser-focused to spark a \"Yes\" reply or WhatsApp click.\nAvoid emojis, hashtags, additional links (except WhatsApp), formalities, or vague phrases like \"hope you’re well\" or \"great to connect.\"\n\nCraft it to feel like a thoughtful DM from a trusted peer, making the offer feel exclusive and urgent without being pushy. \n\n## Tools  \n- Input data fields (recipient):  \nInput data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}\n\n## Examples  \n## SOP (Standard Operating Procedure)    \n1. Extract a specific, interesting detail from the input data.  \n2. If appropriate, reference the user’s shared context (e.g., mutual location, industry focus).  \n3. Write a two-line message that feels natural, not scripted.  \n3. Keep the message under 300 characters total.  \n\n## Final Notes  \n- Do not include emojis, links, hashtags, or formalities.  Just Tell that to continue further you can connect us on whatsapp with this link https://wa.me/917574845628\n- Avoid generic intros and focus on personalized, 1:1 tone.  \n- Think of the icebreaker like a quick, thoughtful DM that tees up a conversation.  ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,220],"id":"a34669be-43ba-4f52-833c-2ccdd63b89e1","name":"OpenAI","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"columns":{"mappingMode":"defineBelow","value":{"Email Content":"={{ $json.message.content }}","Mail":"={{ $('If').item.json.Email }}","Time Stamp":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Email Content","displayName":"Email Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[600,220],"id":"c6c0e51c-ce9f-4496-b2eb-8996956e54e5","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"City":"={{ $json.City }}","Country":"={{ $json.Country }}","Max Search":"={{ $json['Max Search'] }}","Category":"={{ $json.Category }}","Submitted Date and Time":"={{ $json.submittedAt }}","Actor Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1140,200],"id":"ce0fb8cd-75f2-44f2-9095-b0760a43ef6b","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"=Are you Owner of {{ $('Google Sheets').item.json['Business Name'] }}?, We Found Few Insights for You! ","emailType":"text","message":"={{ $json['Email Content'] }}\n\nBest Regards,\nSunil Patel\nTeam Emerge (Division Of Fibre2Fashion)\n+91 7574845628","options":{"appendAttribution":false,"ccList":"vimal.bachani@fibre2fashion.com, sunil.patel@fibre2fashion.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1560,200],"id":"291d3f70-bdb1-44cc-9b57-e06cc38fdbed","name":"Gmail","webhookId":"30f0be21-a160-4aa3-ba4c-653b2a772273","credentials":{"gmailOAuth2":{"id":"fNK6sbXxhxSyGMpc","name":"Gmail account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Mail Sent":"Y","Email":"={{ $('Google Sheets').item.json.Email }}"},"matchingColumns":["Email"],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[300,-160],"id":"0a301667-e00b-48d5-a3bb-0bf60c2119ff","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Submitted Date and Time":"={{ $('On form submission').item.json.submittedAt }}","Actor Status":"Done"},"matchingColumns":["Submitted Date and Time"],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[600,-160],"id":"3c418092-3d4e-4d00-b25e-5a5376dc1768","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ee56d8-21ac-4b2b-b9fe-61439cf7503c","leftValue":"={{ $('Google Sheets').item.json['Mail Sent'] }}","rightValue":"N","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"09b67abe-17d5-4f05-99c3-f539d5eb5cf6","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b829d61c-a24e-4276-bdea-a62bb7851e2a","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[780,220],"id":"47ef5621-00ea-405b-84df-45e33d119dff","name":"If1"},{"parameters":{"content":"## Scraping Segment","height":460,"width":1340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1460,0],"id":"10a65c1e-7a25-4863-83e7-acc08e9bc6b6","name":"Sticky Note"},{"parameters":{"content":"## Email Draft Creation & Sending Process\n","height":740,"width":2100,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-100,-280],"id":"b92604b3-c354-4184-8dc8-d7050e0d7d5a","name":"Sticky Note1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"columns":{"mappingMode":"defineBelow","value":{"Email Content":"=","Thread ID":"={{ $json.threadId }}","Mail":"={{ $('If1').item.json.Mail }}"},"matchingColumns":["Mail"],"schema":[{"id":"Email Content","displayName":"Email Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thread ID","displayName":"Thread ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1820,200],"id":"f2e9c6eb-22bf-4f49-961c-cd71f0731ce5","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"amount":30,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,200],"id":"298afe73-e05d-450d-8a36-7f182e587098","name":"Wait","webhookId":"f7b136e5-be0b-4bd0-aeb7-5e1cbdb3441c"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1060,200],"id":"777bc2af-da13-498e-9a26-079779a4b7ca","name":"Limit"}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets3","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"If1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"daedbc95-e414-46b3-918c-d1bcc5d91d7b","triggerCount":1,"tags":[]}