follow-up-machine-cqMAUJUgEQ30xKEN.json
{"createdAt":"2025-07-04T10:02:05.280Z","updatedAt":"2025-07-14T10:08:16.000Z","id":"cqMAUJUgEQ30xKEN","name":"Follow Up Machine","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-720,-300],"id":"c0fdbe94-3a78-4a9f-ad0d-eba6c6176169","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","messageId":"={{ $json['Thread ID'] }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[100,-400],"id":"dee48e63-a8a0-482a-8fa4-1ca03d11d363","name":"Gmail","webhookId":"74149535-1a05-4ad4-9167-a9325d1b4922","credentials":{"gmailOAuth2":{"id":"fNK6sbXxhxSyGMpc","name":"Gmail account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-500,-300],"id":"2b417a15-8d6f-4db9-bdda-4802fb99153e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1e75aba-427e-4d67-9173-a5f150bc5579","leftValue":"={{ $json['Thread ID'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,-300],"id":"1e77fb4f-dfa2-4480-a5b8-23a4e2480016","name":"If"},{"parameters":{"jsCode":"const messages = items.map(item => item.json);\n\n// Get latest message by comparing internalDate\nconst latestMessage = messages.reduce((latest, msg) => \n  Number(msg.internalDate) > Number(latest.internalDate) ? msg : latest\n);\n\n// Calculate days ago\nconst sentDate = new Date(Number(latestMessage.internalDate));\nconst today = new Date();\nconst diffTime = today - sentDate;\nconst diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));\n\n// Output for use in next node\nreturn [{\n  json: {\n    lastMessageDaysAgo: diffDays,\n    lastMessageDate: sentDate.toISOString()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[420,-400],"id":"ce2b531a-2244-470d-bdde-b2f4da09da83","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"94b4b42a-077c-48c0-8130-1a03d273deb0","name":"lastMessageDaysAgo","value":"={{ $json.lastMessageDaysAgo }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,-400],"id":"3bc6b632-bdb5-4130-bd99-6a4f10cf0a39","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[880,-400],"id":"aba14ee2-45c0-43df-9f51-f269f29a7474","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1a225c91-c02f-425d-af45-8959d45aee88","leftValue":"={{ $json['Follow-up 1 Sent'] }}","rightValue":"Not Sent","operator":{"type":"string","operation":"equals"}},{"id":"06148f64-c6b8-4141-9a96-c9143bafd369","leftValue":"={{ $json['Thread ID'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"aee1a174-776e-4c53-a019-8ec2b9750f21","leftValue":"={{ $json['Email Content'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,-520],"id":"d029387c-2682-4abe-b05b-159867fc47ab","name":"If1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields').item.json.lastMessageDaysAgo }}","rightValue":3,"operator":{"type":"number","operation":"equals"},"id":"716ba948-99bb-4b8a-9bcb-1f8346780454"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8aa9039a-b80e-4afb-b79f-fe22fb64ba5d","leftValue":"={{ $('Edit Fields').item.json.lastMessageDaysAgo }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1100,-400],"id":"d308f578-4d75-4ac2-8218-e255c22e1b49","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0abc33fa-6aaf-4e7f-8a9f-3793fb399ac2","leftValue":"={{ $json['Follow-up 1 Sent'] }}","rightValue":"Sent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"716cda8f-1f52-49f5-bc75-882ea31eb353","leftValue":"={{ $json['Follow-up 2 Sent'] }}","rightValue":"Not Sent","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"699c40dd-008a-45ea-9359-d6e7a75790b2","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1360,-280],"id":"2d3feefa-1678-4c36-8e41-5594b23ad081","name":"If2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Please find the past Email that I have sent:\n{{ $('Google Sheets1').item.json['Email Content'] }}\n"},{"content":"=You are an AI agent writing a short, friendly follow-up message for a cold email that offered a free brand audit. This is the first follow-up, sent 3 days after no reply. The tone must feel warm and conversational, not pushy or salesy.\n\nContext\nThe initial email offered a free brand audit tailored to the recipient’s business.\nThis follow-up is meant to gently bring the offer back into their awareness.\nThe message should sound like a friendly reminder from a peer, not a marketing campaign.\nThe goal is to spark a reply or a WhatsApp click.\nIt should be short enough to be read instantly on mobile.\n\nInstructions\nAddress the recipient casually.\nLast Message We Sent was\n{{ $('Google Sheets1').item.json['Email Content'] }}\n\nSOP (Standard Operating Procedure)\nUse the original message content to preserve continuity.\nAdd warmth and brevity — do not repeat the original message verbatim.\nOffer to resend or give a quick peek into the audit again.\n\nCTA = WhatsApp only. Keep link exactly as: https://wa.me/917574845628\n\nFinal Notes\nThis is not a sales email — it's a reminder from someone genuinely trying to help.\nNever sound robotic, pushy, or generic.\nIf it feels like a real human DM’d them, you’ve done it right.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1720,-540],"id":"e7a26487-ae65-4c3e-8f31-f1feb6b8023c","name":"OpenAI","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Please find the past Email that I have sent:\n{{ $('Google Sheets1').item.json['Email Content'] }}\n"},{"content":"=You are an AI agent writing a short, friendly follow-up message for a cold email that offered a free brand audit. This is the second follow-up, sent 7 days after no reply. The tone must feel warm, human, and non-pushy — like a polite final nudge from a peer.\n\nContext\nThe initial email offered a free brand audit tailored to the recipient’s business.\n\nThis follow-up is a soft final reminder, assuming they may have been busy or missed the earlier messages.\n\nThe goal is to prompt a reply or a WhatsApp message, without pressure.\n\nMessage must feel sincere, personal, and easy to engage with.\n\nShort enough to be read instantly on mobile.\n\nInstructions\nAddress the recipient casually.\nLast Message We Sent was:\n{{ $('Google Sheets1').item.json['Email Content'] }}\n\nSOP (Standard Operating Procedure)\nUse the tone and topic of the original email for continuity.\n\nAcknowledge that this is the final nudge — politely.\n\nOffer again to share the free audit.\n\nDo not repeat or copy the original message.\n\nNo emojis, no hashtags, no formal or corporate phrasing.\n\nMessage must be under 250 characters.\n\nEnd with CTA:\n\"Let’s chat on WhatsApp: https://wa.me/917574845628\"\n\nFinal Notes\nThis is a human-style DM, not a marketing email.\n\nIt should feel like a genuine offer to help, not a push.\n\nIt’s okay to express that this is your last nudge — keep it polite and warm.\n\nIf it feels like a helpful peer checking in, it’s perfect.","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1720,-300],"id":"51c81539-4eea-4e02-8a9c-7a14d95b48d4","name":"OpenAI1","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If1","type":"main","index":0}],[{"node":"If2","type":"main","index":0}]]},"If1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"If2":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0f5a5cc-07f7-4cb9-849d-ddca216b1c1b","triggerCount":0,"tags":[]}