generate-seo-seed-keywords-using-ai-ASkGcXLzkQhf3huN.json
{"createdAt":"2025-07-15T04:27:37.947Z","updatedAt":"2025-07-15T04:28:24.000Z","id":"ASkGcXLzkQhf3huN","name":"Generate SEO Seed Keywords Using AI","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Generate SEO Seed Keywords Using AI\n\nThis flow uses an AI node to generate Seed Keywords to focus SEO efforts on based on your ideal customer profile\n\n**Outputs:** \n- List of 20 Seed Keywords\n\n\n**Pre-requisites / Dependencies:**\n- You know your ideal customer profile (ICP)\n- An AI API account (either OpenAI or Anthropic recommended)","height":315.6388466176832,"width":462.4041757955455,"color":4},"id":"7373ed69-e9d9-4dfa-8315-aac5f79e2b90","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"**Generate draft seed KW based on ICP**\n\n","height":330.47923074942287,"width":287.0816455493243,"color":7},"id":"bd23f34a-22c9-41ee-85ef-f317b0cefd9a","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[520,320],"typeVersion":1,"disabled":true},{"parameters":{"fieldToSplitOut":"output.answer","options":{}},"id":"afe964ba-bd7f-47aa-bcc9-e0348dd358e6","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[860,380],"typeVersion":1},{"parameters":{"content":"**Get data from airtable and format** ","height":213.62075341687063,"width":492.16246201447336,"color":7},"id":"b342acda-16c8-4d73-83be-2aedc9eb797e","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[0,320],"typeVersion":1,"disabled":true},{"parameters":{"content":"**Add data to database**","height":213.62075341687063,"width":348.42891651921957,"color":7},"id":"1b5269c8-3880-4bea-b7a9-972819f9c49a","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","position":[840,320],"typeVersion":1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"973e949e-1afd-4378-8482-d2168532eff6","name":"product","type":"string","value":"=**Replace this with a string detailing your intended product (if you have one)**"},{"id":"ce9c0a8f-6157-4b46-8b77-133545dc71bd","name":"pain points","type":"string","value":"=**Replace this with a string list of customer pain points**"},{"id":"5abc858a-c412-4acf-acb9-488e4d992d2f","name":"goals","type":"string","value":"=**Replace this with a string list of your customers key goals/objectives**"},{"id":"fbdd1ef7-c1b9-48eb-b73e-a383f12b5ba1","name":"current solutions","type":"string","value":"=**Replace this with a string detailing how your ideal customer currently solves their pain ppoints**"},{"id":"2e5c8f48-266e-486c-956f-51f1449f6288","name":"expertise level","type":"string","value":"=**Replace this with a string detailing customer level of expertise**"}]},"options":{}},"id":"f36e80f4-4a42-4d02-9202-798869599d8d","name":"Set Ideal Customer Profile (ICP)","type":"n8n-nodes-base.set","position":[40,380],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"47f05a26-b1fc-4f60-bed9-665b74222363","name":"Aggregate for AI node","type":"n8n-nodes-base.aggregate","position":[260,380],"notesInFlow":true,"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nConnect to your own AI API above","height":80,"width":284.87764467541297,"color":3},"id":"3682f016-cce2-4db4-aa19-987086e42eef","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[520,660],"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nSet your Ideal Customer Profile before proceeding","height":80,"width":284.87764467541297,"color":3},"id":"f12c8fff-fb3d-42c9-a432-b33c6fd7942e","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[0,540],"typeVersion":1},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=User:\nHere are some important rules for you to follow:\n<rules>\n1. Analyze the ICP information carefully.\n2. Generate 15-20 seed keywords that are relevant to the ICP's needs, challenges, goals, and search behavior.\n3. Ensure the keywords are broad enough to be considered \"\"head\"\" terms, but specific enough to target the ICP effectively.\n4. Consider various aspects of the ICP's journey, including awareness, consideration, and decision stages.\n5. Include a mix of product-related, problem-related, and solution-related terms.\n6. Think beyond just the product itself - consider industry trends, related technologies, and broader business concepts that would interest the ICP.\n7. Avoid overly generic terms that might attract irrelevant traffic.\n8. Aim for a mix of keyword difficulties, including both competitive and less competitive terms.\n9. Include keywords that cover different search intents: informational, navigational, commercial, and transactional.\n10. Consider related tools or platforms that the ICP might use, and include relevant integration-related keywords.\n11. If applicable, include some location-specific keywords based on the ICP's geographic information.\n12. Incorporate industry-specific terminology or jargon that the ICP would likely use in their searches.\n13. Consider emerging trends or pain points in the ICP's industry that they might be searching for solutions to.\n13. Format the keywords in lowercase, without punctuation. Trim any leading or trailing white space.\n</rules>\n\nYour output should be an array of strings, each representing a seed keyword:\n<example>\n['b2b lead generation', 'startup marketing strategies', 'saas sales funnel', ...]\n</example>\n\nHere is the Ideal Customer Profile (ICP) information:\n<input>\n{{ $json.data[0].product }}\n</input>\n\nNow:\nBased on the provided ICP, generate an array of 15-20 seed keywords that will form the foundation of a comprehensive SEO strategy for this B2B SaaS company. These keywords should reflect a deep understanding of the ICP's needs, challenges, and search behavior, while also considering broader industry trends and related concepts.\n\nFirst, write out your ideas in {thoughts: } JSON as part of your analysis, then answer inside the {answer: } key in the JSON. ","options":{"systemMessage":"=System: You are an expert SEO strategist tasked with generating 15-20 key head search terms (seed keywords) for a B2B SaaS company. Your goal is to create a comprehensive list of keywords that will attract and engage the ideal customer profile (ICP) described."}},"id":"0b3d415c-8ce8-4a78-813b-3c4193282b5f","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[540,380],"typeVersion":1.6},{"parameters":{},"id":"91eb3ab6-f962-424a-85d2-65274af2ceb6","name":"Connect to your own database","type":"n8n-nodes-base.noOp","position":[1020,380],"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nConnect to your own database / GSheet / Airtable base to output these","height":80,"width":284.87764467541297,"color":3},"id":"c190ca90-7655-4abd-b3b7-0abf8a9524fa","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[1000,540],"typeVersion":1},{"parameters":{},"id":"0614b49f-13e9-47c0-9251-dc68255c7b34","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-180,380],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"provider-6/gpt-4.1","mode":"list","cachedResultName":"provider-6/gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,540],"id":"3c3db8d4-1c22-4de3-9b0d-0728e5a5a097","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymYKSCRcQojB59Qh","name":"OpenAi account 2"}}}],"connections":{"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Connect to your own database","type":"main","index":0}]]},"Aggregate for AI node":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Set Ideal Customer Profile (ICP)":{"main":[[{"node":"Aggregate for AI node","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Ideal Customer Profile (ICP)","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"19fde66a-4494-4d54-b980-5f1bd736fc8a","triggerCount":0,"tags":[]}