google-data-scraper-QaydLCCAMGzhSGuo.json
{"createdAt":"2025-07-09T09:59:40.990Z","updatedAt":"2025-07-17T05:28:19.000Z","id":"QaydLCCAMGzhSGuo","name":"Google Data Scraper","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Google Scraper Form","formFields":{"values":[{"fieldLabel":"City"},{"fieldLabel":"Country","requiredField":true},{"fieldLabel":"Max Search","fieldType":"number","requiredField":true},{"fieldLabel":"Category","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1380,200],"id":"703c7fab-59ec-4c75-8028-c007ad04aa9b","name":"On form submission","webhookId":"718d20ec-5066-4e3b-bf09-5c3260722cc6"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/run-sync-get-dataset-items?token=apify_api_VupKy73dVgYwqfHbCRTugN4IkJv5fG4spw4K","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.City }}, {{ $json.Country }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Max Search'] }},\n    \"searchStringsArray\": [\n        \"{{ $json.Category }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,200],"id":"a721e78b-cd3b-4ca5-8140-ab994092ebf4","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw","mode":"list","cachedResultName":"Footwear Industry Data | India","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Search Query":"={{ $('On form submission').item.json.Category }}","Business Name":"={{ $json.title }}","Address":"={{ $json.address }}","Pincode":"={{ $json.postalCode }}","City":"={{ $json.city }}","State":"={{ $json.state }}","Reviews":"={{ $json.reviewsCount }}","Image Count":"={{ $json.imagesCount }}","Website URL":"={{ $json.website }}","Linkedin":"={{ $json.linkedIns[0] }}","Twitter":"={{ $json.twitters[0] }}","Instagram":"={{ $json.instagrams[0] }}","YouTube":"={{ $json.youtubes[0] }}","Phone Number":"=''{{ $json.phone }}","Email":"={{ $json.emails[0] }}"},"matchingColumns":[],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-660,200],"id":"7aff9258-7d49-419a-8209-113aaf737e36","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw","mode":"list","cachedResultName":"Footwear Industry Data | India","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":231699193,"mode":"list","cachedResultName":"Source","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit#gid=231699193"},"columns":{"mappingMode":"defineBelow","value":{"City":"={{ $json.City }}","Country":"={{ $json.Country }}","Max Search":"={{ $json['Max Search'] }}","Category":"={{ $json.Category }}","Submitted Date and Time":"={{ $json.submittedAt }}","Actor Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1140,200],"id":"0843baee-53ff-480a-ae54-427ffba12eeb","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw","mode":"list","cachedResultName":"Footwear Industry Data | India","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":231699193,"mode":"list","cachedResultName":"Source","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit#gid=231699193"},"columns":{"mappingMode":"defineBelow","value":{"Actor Status":"Done","Category":"={{ $json['Search Query'] }}"},"matchingColumns":["Category"],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data Scaraper Link","displayName":"Data Scaraper Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"https://n8n.emerge-accelerator.com/form/718d20ec-5066-4e3b-bf09-5c3260722cc6","displayName":"https://n8n.emerge-accelerator.com/form/718d20ec-5066-4e3b-bf09-5c3260722cc6","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-420,60],"id":"8a2911b7-c9ec-432d-b4a8-a3d1843e54fb","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8a79a28-d6d0-481b-aa1b-1cae0c350efd","triggerCount":1,"tags":[]}