hr-agent-XYmcadOX5AurLKvq.json
{"createdAt":"2025-07-15T06:48:26.099Z","updatedAt":"2025-07-16T06:13:28.000Z","id":"XYmcadOX5AurLKvq","name":"HR AGENT","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[460,260],"id":"57831ca7-484f-4443-b260-473707ba9107","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"zb2SFezh3gdfi2zl","name":"Sunil Patel Gmail API"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Apply","description":"Contains a job application from a candidate seeking a position at our organization"},{"category":"Doesn't apply","description":"The candidate is not a job application"}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[680,260],"id":"4cd0b4e5-6c23-4ed6-9156-7dd02b5ddf21","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,460],"id":"73f35af2-9c47-4300-a79e-d533151bbbb8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1080,280],"id":"5da78258-fe23-41d0-a9d8-ec45ad6dacb2","name":"No Operation, do nothing"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f33fdcc7-8cbd-4407-a99a-6f43b2296be2","leftValue":"attachment_0","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2595098f-28e5-4e77-b960-0c64e24a99ba","leftValue":"attachment_0","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[380,760],"id":"5c4e1520-aae2-40af-b778-dcf6191373de","name":"Switch"},{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[760,880],"id":"d7726d48-a015-46c9-a6d8-147048a7bbbc","name":"Extract from File"},{"parameters":{"inputDataFieldName":"=attachment_0","name":"CV Screening","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,680],"id":"c7fbc9e5-4669-47f5-aa55-9df8d5d4d828","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"QlhwDrXAR8dS3Rgs","name":"Google Drive account"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[920,700],"id":"29dddb64-b8da-423f-b28f-48e71d0263e0","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"QlhwDrXAR8dS3Rgs","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1160,820],"id":"143295d1-3a16-4880-9a09-46a91043308a","name":"Merge"},{"parameters":{"promptType":"define","text":"=Analyze the current information from the received candidate and score between 0 to 10 the said candidate, 0 meaning not a good fit for the position, 10 being outstanding for the job.\n\nJob Title: Business Development Representative (BDR)\n\nLocation: Remote/Hybrid – Ahmedabad preferred\n\nAbout Us:\nFibre2Fashion is a leading B2B platform empowering the global fashion and textile industry with digital tools, AI-based insights, and market intelligence. We help businesses grow through demand generation, marketplace visibility, and intelligent automation.\n\nRole Overview:\nWe’re hiring a BDR who’s not afraid to roll up their sleeves and generate real pipeline value. You’ll use tools like Apollo, LinkedIn, and AI-based automation systems to research leads, personalize outreach, and keep calendars full of qualified discovery calls.\n\nThis is a fast-paced, target-driven role ideal for someone who wants to make an impact, not just check boxes.\n\nWhat You’ll Do:\n\nIdentify and research target clients in fashion, textile, eCommerce, and B2B SaaS verticals\n\nLaunch email, LinkedIn, and WhatsApp outreach sequences using templates and personal insights\n\nQualify leads and schedule discovery/demo calls for the sales team\n\nMaintain clean CRM records and track activity with reporting\n\nContribute to experimentation and optimization of outreach messaging\n\nYou Bring:\n\n1+ year experience in B2B sales, SDR/BDR or outbound prospecting role\n\nExcellent verbal and written communication\n\nComfort with tools like Apollo, Lemlist, Clay, or similar\n\nKnowledge of fashion/eCommerce sectors is a plus\n\nHigh energy, high ownership, and hungry to grow\n\nPerks & Benefits:\n\nCompetitive base + commission\n\nOpportunity to work with a tech-driven growth team\n\nDirect exposure to AI-powered sales systems\n\nFlexible working hours and remote-first setup\n\nGrowth path into AE or Demand Gen roles\nSee the extracted PDF information: {{ $json.text }}\n\nProvide some key insight on why this candidate is a good fit for the position as well","hasOutputParser":true,"options":{"systemMessage":"You are a helpful HR assistant. Your goal is to analyze the CV of the candidate and see if the candidate is a good candidate for the position."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[500,1160],"id":"e3bae360-73d0-4b1e-a871-748d8e869e69","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,1380],"id":"e6f29801-3501-4614-a151-4f67446699fd","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"ymYKSCRcQojB59Qh","name":"OpenAi account 2"}}},{"parameters":{"jsonSchemaExample":"{\n \"candidate\": {\n   \"first_name\": \"string\",\n   \"last_name\":\"string\",\n   \"email\": \"string\",\n   \"location\": \"string\",\n   \"phone\": \"string\"\n },\n \"summary\": {\n   \"years_experience\": \"number\",\n   \"current_role\": \"string\", \n   \"key_achievements\": [\"string\"],\n   \"technical_skills\": [\"string\"]\n },\n \"fit_score\": {\n   \"overall\": \"number\",\n   \"breakdown\": {\n     \"experience\": \"number\",\n     \"technical_skills\": \"number\", \n     \"achievements\": \"number\",\n     \"education\": \"number\"\n   },\n   \"reasoning\": [\"string\"]\n }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[680,1380],"id":"368cf0dc-6991-4ab4-935f-9b3722e0b632","name":"Structured Output Parser"},{"parameters":{"operation":"create","documentId":{"__rl":true,"value":"1lesyzMsowlOims6HTIhndCRhgwKijpRRFXZ83cMU7JM","mode":"id"},"title":"N8N","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[840,1160],"id":"fe008493-1182-4e66-b177-91b510e4b558","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"content":"Trigger when new CV received in our email","height":460,"width":1140},"type":"n8n-nodes-base.stickyNote","position":[220,160],"typeVersion":1,"id":"c92f5d57-73ec-4dad-9881-025996611108","name":"Sticky Note"},{"parameters":{"content":"Extract data from the CV","height":460,"width":1140,"color":3},"type":"n8n-nodes-base.stickyNote","position":[220,640],"typeVersion":1,"id":"be85e68d-5c7b-42fd-9708-35f8d5b0914f","name":"Sticky Note1"},{"parameters":{"content":"Qualify the Individual","height":420,"width":860,"color":6},"type":"n8n-nodes-base.stickyNote","position":[220,1120],"typeVersion":1,"id":"eab56832-292b-45f6-be03-372665d4fd11","name":"Sticky Note2"},{"parameters":{"requestMethod":"POST","url":"https://yourform.typeform.com/to/abc123","jsonParameters":true,"options":{},"bodyParametersJson":"{\n  \"candidate_email\": \"{{$json.email}}\",\n  \"name\": \"{{$json.name}}\"\n}"},"id":"d4527698-24b5-4922-a616-1158844e93f5","name":"Send Assessment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1160,1160]},{"parameters":{"resource":"call","operation":"create","options":{}},"id":"8bd98c9c-a80f-415c-b887-a9da5c497e1c","name":"Voice Call","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[1380,1160]},{"parameters":{"fromEmail":"hr@company.com","toEmail":"={{$json.email}}","subject":"Application Status","text":"Thank you for applying. Unfortunately, you do not meet the requirements for this role.","options":{}},"id":"b52d8c10-e2bc-4c42-b015-2b773325c102","name":"Send Rejection Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1560,300],"webhookId":"dc023599-982c-49d2-8f76-108fb50a59fc"},{"parameters":{"values":{"string":[{"name":"status","value":"Not Qualified"}]},"options":{}},"id":"47544ac7-b8af-4063-a09e-f1a9fa4edac8","name":"Tag Not Qualified","type":"n8n-nodes-base.set","typeVersion":2,"position":[1380,300]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Drive","type":"main","index":0}],[{"node":"Extract from File","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Drive1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Send Assessment":{"main":[[{"node":"Voice Call","type":"main","index":0}]]},"Tag Not Qualified":{"main":[[{"node":"Send Rejection Email","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Send Assessment","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"adb640f9-2b94-4fc3-912e-6867a5da2c4d","triggerCount":0,"tags":[]}