hr-agent-with-assessment-and-voice-call-Y7TdJRjVbNKyVfRn.json
{"createdAt":"2025-07-16T06:11:29.646Z","updatedAt":"2025-07-16T06:11:29.000Z","id":"Y7TdJRjVbNKyVfRn","name":"HR  agent with assessment and voice call","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"candidate-apply","options":{}},"id":"c5d12566-4035-4ca8-91c1-907840c04a61","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,60],"webhookId":"0ea4bad7-a8dc-46eb-b324-ad380f2633cf"},{"parameters":{"values":{"string":[{"name":"job_title","value":"Software Engineer"},{"name":"required_skills","value":"JavaScript,Node.js,API,Problem Solving"}]},"options":{}},"id":"496e730c-aa21-42a6-b8cb-6146ec69b6a5","name":"Set JD","type":"n8n-nodes-base.set","typeVersion":2,"position":[-360,60]},{"parameters":{"conditions":{"string":[{"value1":"={{$json.skills}}","operation":"contains","value2":"JavaScript"}]},"options":{}},"id":"570efdc0-38b5-4435-b704-8f26fe6e972c","name":"Check Qualification","type":"n8n-nodes-base.if","typeVersion":2,"position":[-100,60]},{"parameters":{"requestMethod":"POST","url":"https://yourform.typeform.com/to/abc123","jsonParameters":true,"options":{},"bodyParametersJson":"{\n  \"candidate_email\": \"{{$json.email}}\",\n  \"name\": \"{{$json.name}}\"\n}"},"id":"de708dab-23aa-4a09-863a-46b68533b205","name":"Send Assessment","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[140,-100]},{"parameters":{"resource":"call","operation":"create","options":{}},"id":"444db8fd-9ae1-4fea-8beb-d8fb13c99858","name":"Voice Call","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[360,-100],"credentials":{"twilioApi":{"id":null,"name":"your-twilio-credentials"}}},{"parameters":{"fromEmail":"hr@company.com","toEmail":"={{$json.email}}","subject":"Application Status","text":"Thank you for applying. Unfortunately, you do not meet the requirements for this role.","options":{}},"id":"f01a103f-5118-45b2-83c0-c514430dc7ba","name":"Send Rejection Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[400,100],"webhookId":"dc023599-982c-49d2-8f76-108fb50a59fc","credentials":{"smtp":{"id":null,"name":"your-smtp-credentials"}}},{"parameters":{"values":{"string":[{"name":"status","value":"Qualified"}]},"options":{}},"id":"117cf14e-5228-4d94-947b-2c86ac7f6868","name":"Tag Qualified","type":"n8n-nodes-base.set","typeVersion":2,"position":[-100,-100]},{"parameters":{"values":{"string":[{"name":"status","value":"Not Qualified"}]},"options":{}},"id":"9f409dfd-bc83-4b01-b0fa-4173f186c689","name":"Tag Not Qualified","type":"n8n-nodes-base.set","typeVersion":2,"position":[160,100]}],"connections":{"Webhook":{"main":[[{"node":"Set JD","type":"main","index":0}]]},"Set JD":{"main":[[{"node":"Check Qualification","type":"main","index":0}]]},"Check Qualification":{"main":[[{"node":"Tag Qualified","type":"main","index":0}],[{"node":"Tag Not Qualified","type":"main","index":0}]]},"Tag Qualified":{"main":[[{"node":"Send Assessment","type":"main","index":0}]]},"Tag Not Qualified":{"main":[[{"node":"Send Rejection Email","type":"main","index":0}]]},"Send Assessment":{"main":[[{"node":"Voice Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b9b9cec5-f2c6-4c0a-8da1-837b1da6120b","triggerCount":0,"tags":[]}