instagram-data-scraper-mini-Jg1K6xgMjkCrdEXn.json
{"createdAt":"2025-07-10T04:25:12.075Z","updatedAt":"2025-07-17T06:20:13.000Z","id":"Jg1K6xgMjkCrdEXn","name":"Instagram Data Scraper MINI","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/pratikdani~instagram-profile-scraper/run-sync-get-dataset-items?token=apify_api_JnxuIVReQ1WQEq8W0BvLLQu1aLckhF1eQs6l","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"url\": \"{{ $json.Instagram }}\"\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,20],"id":"7ba21e18-24e1-4a3a-afdb-50501138fff9","name":"HTTP Request"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw","mode":"list","cachedResultName":"Footwear Industry Data | India","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2057698970,"mode":"list","cachedResultName":"Instagram Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit#gid=2057698970"},"columns":{"mappingMode":"defineBelow","value":{"Instagram":"={{ $('Google Sheets2').item.json.Instagram }}","followers":"={{ $json.followers }}","following":"={{ $json.following }}","avg_engagement":"={{ $json.avg_engagement }}","account":"={{ $json.account }}","Website":"={{ $json.external_url[0] }}","highlights_count":"={{ $json.highlights_count }}","is_verified":"={{ $json.is_verified }}","posts_count":"={{ $json.posts_count }}","bio":"={{ $json.biography }}","is_joined_recently":"={{ $json.is_joined_recently }}","is_private":"={{ $json.is_private }}","is_professional_account":"={{ $json.is_professional_account }}","category_name":"={{ $json.category_name }}","email_address":"={{ $json.email_address }}","full_name":"={{ $json.full_name }}","profile_image_link":"={{ $json.profile_image_link }}","Data Scraping":"Done"},"matchingColumns":["Instagram"],"schema":[{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn","displayName":"LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"following","displayName":"following","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"avg_engagement","displayName":"avg_engagement","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"account","displayName":"account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"highlights_count","displayName":"highlights_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_verified","displayName":"is_verified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"posts_count","displayName":"posts_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bio","displayName":"bio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_joined_recently","displayName":"is_joined_recently","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_private","displayName":"is_private","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_professional_account","displayName":"is_professional_account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category_name","displayName":"category_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_address","displayName":"email_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"profile_image_link","displayName":"profile_image_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data Scraping","displayName":"Data Scraping","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-440,100],"id":"c524db78-5735-4abe-8adc-1305ed103023","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw","mode":"list","cachedResultName":"Footwear Industry Data | India","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2057698970,"mode":"list","cachedResultName":"Instagram Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Ijg61OPEqFqXjppJNUU7ssGXj2l178is0xloxtSccSw/edit#gid=2057698970"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1420,115],"id":"ede86b2d-24ee-47c0-82e2-0d9dbd011006","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1640,115],"id":"c1ed15a5-6247-45fd-adcd-51c3e918f4d9","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,100],"id":"a6d1fa4c-f57d-4da5-b585-41c6dd8a8e4a","name":"Loop Over Items"},{"parameters":{"sendTo":"vimal.bachani@fibre2fashion.com","subject":"Problem with Insta Scrapper ","emailType":"text","message":"=Please check {{ $json.Instagram }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-220,100],"id":"9a800f6c-6528-4416-82ee-dc5c4e547810","name":"Gmail","webhookId":"a02c4310-b179-46f9-bb90-fc1b0987138f","credentials":{"gmailOAuth2":{"id":"fNK6sbXxhxSyGMpc","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9cdd0ff6-8510-46fa-8b9f-e924b15e248b","leftValue":"={{ $json['Data Scraping'] }}","rightValue":"Done","operator":{"type":"string","operation":"notEquals"}},{"id":"168a4acd-4882-40fb-81cf-b35cfea75f39","leftValue":"={{ $json.Instagram }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1200,115],"id":"5efc2294-b78e-4098-8970-fa93d676c201","name":"If"}],"connections":{"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Gmail","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"900789bc-9696-4142-b674-349d72770bd8","triggerCount":1,"tags":[]}