lead-gen-GV7fFyPymXXq98Ze.json
{"createdAt":"2025-07-17T04:12:34.797Z","updatedAt":"2025-07-17T06:27:16.000Z","id":"GV7fFyPymXXq98Ze","name":"lead gen","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,-80],"id":"ebeccf80-54b0-4f6f-b88a-a12131793b70","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"We Emerge by Fibre2Fashion, a platform that helps fashion and apparel businesses achieve global visibility, better buyer outreach, and B2B lead generation through our intelligent branding, digital marketing services, and curated marketplace listings in India and internationally.\n\nWe typically collaborate with emerging fashion labels, direct-to-consumer (D2C) brands, manufacturers, exporters, wholesalers, and fashion technology startups.\n\nFind me 5 Instagram usernames of personal brands in my niche like clothing, apparel etc.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[60,-80],"id":"2e4654e5-b88b-4782-ad49-d341afa5e040","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[180,140],"id":"52d5363d-0a4a-465b-a8aa-6bdea9acbd4e","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"1PIhUbiq7WQdiAK_Csch-FBA98p8pjtj9S350zmVpLh4","mode":"list","cachedResultName":"Followers of @thefashionguitar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PIhUbiq7WQdiAK_Csch-FBA98p8pjtj9S350zmVpLh4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1334560109,"mode":"list","cachedResultName":"contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PIhUbiq7WQdiAK_Csch-FBA98p8pjtj9S350zmVpLh4/edit#gid=1334560109"},"options":{}},"id":"7a4339f6-0f58-4359-9223-95aadc97b75e","name":"Unfiltered Leads","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[660,-80],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"You are a lead qualifier for Fibre2Fashion and Emerge by Fibre2Fashion.\n\nEvaluate the following Instagram profile and determine if they are a potential Clothing & Apparel client.\n\nCriteria:\n1. Followers > 10,000 (unless niche is highly targeted)\n2. Content aligns with Fashion, Clothing, or Apparel industry\n3. Posts show styling, fashion products, collaborations, or related brand work\n4. Influencer or business that could benefit from Fibre2Fashion’s platform or Emerge’s D2C ecosystem\n\nReturn result in this format:\n{\n  \"qualified\": true | false,\n  \"reason\": \"Short reason\",\n  \"niche\": \"e.g. Fashion Designer, Apparel Seller, Stylist, Boutique\",\n  \"priority\": \"High | Medium | Low\"\n}\n","options":{}},"id":"66d5d91e-eca4-448a-8082-f365c2e4e925","name":"AI Qualifier Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[940,-80]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16QGc8vknVDJnWGtQI-wX-o-WEmpk4UenwmrRpMKWDUc","mode":"list","cachedResultName":"Qualified leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16QGc8vknVDJnWGtQI-wX-o-WEmpk4UenwmrRpMKWDUc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":469530296,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16QGc8vknVDJnWGtQI-wX-o-WEmpk4UenwmrRpMKWDUc/edit#gid=469530296"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9affd127-6e62-43c6-8acd-291d9cc85e42","name":"Qualified Leads Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1300,-80],"credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get the raw text output from the AI Agent\nconst rawText = $input.first().json.output;\n\n// Use a regex to extract all IG handles like @username or @user.name\nconst matches = rawText.match(/@[\\w\\.]+/g) || [];\n\n// Convert to output format for Growman Scrape input (keep the @)\nreturn matches.map(username => {\n  return {\n    json: {\n      username: username // Keep \"@\" in the value\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[420,-80],"id":"4ceb371f-9331-4d69-a38f-b06fbe3904b0","name":"Code"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[860,140],"id":"a4de391a-4cc8-4775-8914-77e8cb609875","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[20,120],"id":"c9eddf34-d97c-4dac-80f5-520fd5182ab7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Unfiltered Leads":{"main":[[{"node":"AI Qualifier Agent","type":"main","index":0}]]},"AI Qualifier Agent":{"main":[[{"node":"Qualified Leads Sheet","type":"main","index":0}]]},"Code":{"main":[[{"node":"Unfiltered Leads","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Qualifier Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"254d763f-967c-47a5-9c7e-d04897e227bd","triggerCount":0,"tags":[]}