linkedin-automation-posting-Vk3UfYdAT0ghXOPg.json
{"createdAt":"2025-07-14T12:10:41.137Z","updatedAt":"2025-07-15T04:17:08.000Z","id":"Vk3UfYdAT0ghXOPg","name":"Linkedin Automation posting","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0","mode":"list","cachedResultName":"Linkedin Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1320,60],"id":"d2c0b0ee-a519-4065-a379-d17fa0351920","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"KA0iWG5ZHTJKedgL","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc74b0c2-aa46-4bcd-91f3-1eb6b0720167","leftValue":"={{ $json.Status }}","rightValue":"pending","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,60],"id":"a117ff5b-52b0-4c05-9580-0dbc17733f61","name":"If"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-880,40],"id":"46d1922f-3098-4932-8daa-b8c7adce410c","name":"Limit"},{"parameters":{"promptType":"define","text":"=You are a LinkedIn post writer. You will be given a title and your task is to create an engaging LinkedIn post based on that title.\n\nYour post should:\n1. Begin with a compelling hook related to the title\n2. Include 3-4 paragraphs of informative content\n3. End with a question to encourage engagement\n4. Include 4-6 relevant hashtags\n5. Use appropiate emojis in between \n\nImportant formatting requirements:\n- Format all paragraphs with proper newline characters (\\n\\n) between them\n- Ensure the text is properly escaped for JSON\n- Do not use double quote (\"\") in response or any special character\n- Do not put asterisk\n- Keep the overall length appropriate for LinkedIn (under 3000 characters)\n\n\nNow, create a LinkedIn post based on the following title:\n{{ $json['Linkedin Post Title'] }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-660,40],"id":"3f653a84-36e0-4a14-aea0-b8e9bbb045f8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-620,260],"id":"ae21b249-3f5d-4cb2-b90e-25941e694e98","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymYKSCRcQojB59Qh","name":"OpenAi account 2"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"post\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-480,260],"id":"8a1f54d3-fe71-4fe2-a593-4d2206ae8c0d","name":"Structured Output Parser"},{"parameters":{"url":"https://api.linkedin.com/v2/userinfo","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,40],"id":"b7a110e7-2ac8-4f63-a20d-50e369733ad1","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"ByEkAdsoMvlE2aTj","name":"Postiz Auth"}}},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"{{ $('Code').item.json.output.post }}\"\n            },\n            \"shareMediaCategory\": \"NONE\"   \n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-120],"id":"e30018e6-a3bc-439f-b0fd-2c7a9d0bcd67","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"ByEkAdsoMvlE2aTj","name":"Postiz Auth"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nconst updatedItems = items.map((item) => {\n  item.json.output.post = item.json.output.post.replace(\n    /\\n/g,\n    \"\\\\n\",\n  );\n  return item;\n});\nreturn updatedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,40],"id":"eca73960-d3f1-45c8-97ac-ebfb0c5d222f","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0","mode":"list","cachedResultName":"Linkedin Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1850323190,"mode":"list","cachedResultName":"Linkedin Groups","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0/edit#gid=1850323190"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[180,180],"id":"3c40ddff-327d-4058-8c91-49c4f826b4ed","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,180],"id":"6e3fc45b-ea4e-4327-9a81-15daab8f4bd5","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.linkedin.com/v2/ugcPosts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"author\": \"urn:li:person:{{ $('HTTP Request').item.json.sub }}\",\n  \"containerEntity\": \"urn:li:group:{{ $json['Group Ids'] }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $('Code').item.json.output.post }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"CONTAINER\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,200],"id":"34722079-e422-47e1-b4e3-3db751a3266e","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"ByEkAdsoMvlE2aTj","name":"Postiz Auth"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[540,-120],"id":"2ee07bf8-5ced-492c-84ca-c325774264b4","name":"Merge"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0","mode":"list","cachedResultName":"Linkedin Post","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C-2RqSOgC-J3ITOFV3yti9hAy8jhk1pMnHjG7zSp1P0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Limit').item.json.ID }}","Status":"posted"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin Post Title","displayName":"Linkedin Post Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[760,-120],"id":"3d6b6b41-bb3c-4419-b892-4337b44be1b3","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request2","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"31986404-e203-43c8-aeb2-da15cbc57f6c","triggerCount":0,"tags":[]}