linkedin-apollo-scrapper-MJbWA4veCpwFOjkV.json
{"createdAt":"2025-06-04T08:04:07.983Z","updatedAt":"2025-06-04T08:04:07.000Z","id":"MJbWA4veCpwFOjkV","name":"Linkedin Apollo Scrapper","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.apify.com/v2/acts/code_crafter~apollo-io-scraper/run-sync-get-dataset-items?token=apify_api_oDliMlcEEXq7k3bg14FotEyuoMpijR3r3fHx","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"cleanOutput\": false,\n    \"url\": \"{{ $json['Apollo URL'] }}\"\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"id":"4e2cc0ea-1365-4a8f-8843-122215491f2c","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15cTRZYjcZ2gxkGS28Xg_VW2W9BakQuGV4C8AF-yLxkU","mode":"list","cachedResultName":"Apollo Leads Automaiton","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15cTRZYjcZ2gxkGS28Xg_VW2W9BakQuGV4C8AF-yLxkU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15cTRZYjcZ2gxkGS28Xg_VW2W9BakQuGV4C8AF-yLxkU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","email":"={{ $json.email }}","phone_number":"='{{ $json.organization.phone }}","last_name":"={{ $json.last_name }}","first_name":"={{ $json.first_name }}","full_name":"={{ $json.name }}","linkedin_url":"={{ $json.linkedin_url }}","title":"={{ $json.title }}","person_id":"={{ $json.person_id }}","headline":"={{ $json.headline }}","city":"={{ $json.city }}","state":"={{ $json.state }}","country":"={{ $json.country }}","org_name":"={{ $json.organization.name }}","org_id":"={{ $json.organization.id }}","website_url":"={{ $json.organization.website_url }}","twitter_url":"={{ $json.organization.twitter_url }}","facebook_url":"={{ $json.organization.facebook_url }}","raw_address":"={{ $json.organization.raw_address }}","another_email1":"={{ $json.personal_emails[0] }}","another_email2":"={{ $json.personal_emails[1] }}","industry":"={{ $json.organization.industry }}","org_linkedin_url":"={{ $json.organization.linkedin_url }}","url_of_apollo":"={{ $('On form submission').item.json['Apollo URL'] }}"},"matchingColumns":["id"],"schema":[{"id":"url_of_apollo","displayName":"url_of_apollo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone_number","displayName":"phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"person_id","displayName":"person_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"raw_address","displayName":"raw_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"org_name","displayName":"org_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"org_id","displayName":"org_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website_url","displayName":"website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter_url","displayName":"twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook_url","displayName":"facebook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"another_email1","displayName":"another_email1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"another_email2","displayName":"another_email2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"org_linkedin_url","displayName":"org_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,0],"id":"d01be457-c0af-46eb-b76e-1e7d6246baae","name":"Google Sheets"},{"parameters":{"formTitle":"Apollo Scrapper","formDescription":"Put your apollo search link and get the data","formFields":{"values":[{"fieldLabel":"Apollo URL","fieldType":"textarea","placeholder":"https://"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"da67160d-c753-4db2-8915-058cfbdeda0e","name":"On form submission","webhookId":"f33ae751-2c62-4371-ba2f-ce606d9c20e6"}],"connections":{"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c5f0e66b-5ec8-4bfe-866b-255c0c03d15e","triggerCount":0,"tags":[]}