my-workflow-3-ehFuOmapxqVxOcg3.json
{"createdAt":"2025-07-11T06:57:30.810Z","updatedAt":"2025-07-11T06:57:30.810Z","id":"ehFuOmapxqVxOcg3","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-960,550],"id":"5283013f-e6e6-4117-a4cc-2369c870be18"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"workflowRunId\": \"RUN_{{ $now.toFormat('yyyyLLdd_HHmmss') }}_{{ $execution.id.slice(0, 3) }}\",\n  \"currentRow\": {{ $json.currentRow ||1}}\n}\n","options":{}},"name":"Generate Run ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,550],"id":"0207b301-f75f-4543-a517-803bbcdd86b1"},{"parameters":{"sheetId":"10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo","range":"sheet1!A:Z","dataStartRow":"={{ $json.currentRow }}","options":{}},"name":"Read Email List","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[-520,175],"id":"2430eacf-ba51-4a21-90c3-92df6962d0b6","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.Status }}","rightValue":"Email Sent","operator":{"type":"string","operation":"notEquals"},"id":"9557ca42-46bf-409b-a1b0-bb7ae66ff5c7"},{"leftValue":"={{ $json['Email Address'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"},"id":"e24b3351-d693-473e-8e95-611aff6d1dd9"},{"leftValue":"={{ $json.Status }}","rightValue":"Processing","operator":{"type":"string","operation":"notEquals"},"id":"69fb4651-fb15-4eaa-a546-58c4ce16d7a2"},{"leftValue":"={{ $json.Name }}","rightValue":"=== EXECUTION SUMMARY ===","operator":{"type":"string","operation":"notEquals"},"id":"54444289-b783-4e80-a663-fc66a019ff76"}],"combinator":"and"},"options":{}},"name":"Filter Pending Emails","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-300,100],"id":"f5581447-57f3-4beb-973c-b001a14b0c8b"},{"parameters":{"options":{}},"name":"Process One by One","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-80,100],"id":"379ef068-d184-4396-9e1e-f0becf1afae5"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo","mode":"list","cachedResultName":"Publishers List July 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1461988184,"mode":"list","cachedResultName":"sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo/edit#gid=1461988184"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Processing","Name":"={{ $json.Name }}","Tracking ID":"={{ $json.workflowRunId }}"},"matchingColumns":["Name"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description / USP","displayName":"Company Description / USP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Sent","displayName":"Date Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tracking ID","displayName":"Tracking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reply","displayName":"Reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Received","displayName":"Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Mark as Processing","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[360,200],"id":"a9094733-755c-4264-b496-cc151139bd3e"},{"parameters":{"amount":2},"name":"Gmail Rate Limit Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[580,200],"id":"8c512fc4-7a3c-480a-8cc7-9e3c48cfd17a","webhookId":"977dfdef-f168-47c2-b484-493ec8df143c"},{"parameters":{"sendTo":"={{ $('Merge').item.json['Email Address'] }}","subject":"Circling back – curious if you have traffic for this offer?","message":"={{ '<p>Hi ' + ($json[\"Name\"] || 'there') + ',</p><p>Following up. Let me know!</p>' }}","options":{}},"name":"Send Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[800,200],"id":"2279f03e-a187-4cbd-a4d0-09d35fe3ca7d","webhookId":"6290112c-ac04-4fc1-977f-bbe1b72f3ac6","credentials":{"gmailOAuth2":{"id":"zb2SFezh3gdfi2zl","name":"Sunil Patel Gmail API"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo","mode":"list","cachedResultName":"Publishers List July 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1461988184,"mode":"list","cachedResultName":"sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo/edit#gid=1461988184"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Email Sent","Date Sent":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","Name":"={{ $('Merge').item.json.Name }}","Tracking ID":"={{ $('Merge').item.json.workflowRunId }}","Current Row":"={{ $('Merge').item.json.currentRow }}"},"matchingColumns":["Name"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Description / USP","displayName":"Company Description / USP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Sent","displayName":"Date Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tracking ID","displayName":"Tracking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reply","displayName":"Reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Received","displayName":"Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Current Row","displayName":"Current Row","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Update Success Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1460,150],"id":"b4323a7a-e765-430d-9866-94723fb8d1b5"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo","mode":"list","cachedResultName":"Publishers List July 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1461988184,"mode":"list","cachedResultName":"sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo/edit#gid=1461988184"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Failed","Date Sent":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","Name":"={{ $json.Name }}"},"matchingColumns":["Name"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Description / USP","displayName":"Company Description / USP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Sent","displayName":"Date Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tracking ID","displayName":"Tracking ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reply","displayName":"Reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Received","displayName":"Received","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"name":"Update Error Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1240,375],"id":"de4229c6-bfdd-4874-a48e-c2db299bb013"},{"parameters":{"sheetId":"10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo","range":"sheet1!A:Z","options":{}},"name":"Read Final Results","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[140,0],"id":"100247ff-3e0e-4bf1-9a38-94939a881621"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7bc4c522-793b-4acd-814d-a607d11fe94e","leftValue":"={{ $json.labelIds[0] }}","rightValue":"SENT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1020,200],"id":"1b467171-2c67-4bf3-8681-c946a3c89fd7","name":"Check Send Status"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[140,200],"id":"56c1a173-7c57-4344-bb4c-4a4c40fddc11","name":"Merge"},{"parameters":{"values":{"number":[{"name":"currentRow","value":"={{ $json['Current Row'] +1}}"}],"string":[{"name":"workflowRunId","value":"={{ $json['Tracking ID'] }}"}]},"options":{}},"name":"Increment Counter","type":"n8n-nodes-base.set","typeVersion":2,"position":[1680,400],"id":"9e2a712a-3fe6-49b5-9df4-1b152956e87c"},{"parameters":{"sheetId":"10ef8zPX2yRmQYD5Kb1TCdQuSIGqIASHlqZlUJG-JQIo","range":"sheet1!A:Z","keyRow":"={{ 0}}","options":{}},"name":"Read Email List1","type":"n8n-nodes-base.googleSheets","typeVersion":2,"position":[1240,150],"id":"bc4b41bb-ae74-4a33-b137-3d2d11f9c5b3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Generate Run ID","type":"main","index":0}]]},"Generate Run ID":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Read Email List","type":"main","index":0}]]},"Read Email List":{"main":[[{"node":"Filter Pending Emails","type":"main","index":0}]]},"Filter Pending Emails":{"main":[[{"node":"Process One by One","type":"main","index":0}]]},"Process One by One":{"main":[[{"node":"Read Final Results","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]},"Mark as Processing":{"main":[[{"node":"Gmail Rate Limit Wait","type":"main","index":0}]]},"Gmail Rate Limit Wait":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Check Send Status","type":"main","index":0}]]},"Update Success Status":{"main":[[{"node":"Increment Counter","type":"main","index":0}]]},"Update Error Status":{"main":[[{"node":"Read Email List","type":"main","index":0}]]},"Check Send Status":{"main":[[{"node":"Read Email List1","type":"main","index":0}],[{"node":"Update Error Status","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Mark as Processing","type":"main","index":0}]]},"Increment Counter":{"main":[[{"node":"Generate Run ID","type":"main","index":0}]]},"Read Email List1":{"main":[[{"node":"Update Success Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ee85e4ee-3dbf-43f4-b37e-7779ec742f57","triggerCount":0,"tags":[]}