my-workflow-jAtWFlEbURldC6oL.json
{"createdAt":"2025-07-22T10:22:03.417Z","updatedAt":"2025-07-22T10:22:59.000Z","id":"jAtWFlEbURldC6oL","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"200495f3-cda7-4c97-b6ea-23dd8452cb66","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[448,272],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":751,"width":2547,"color":6},"id":"fe83c059-23f3-4e13-bb50-e80c54f2dc7c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,640],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"e0ecd08e-67e5-4e9e-a755-402909146843","name":"n8n","type":"n8n-nodes-base.n8n","position":[704,352],"typeVersion":1,"credentials":{"n8nApi":{"id":"S54KjGsbqVsQUxFH","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"01205fa1-11c4-42fd-88c0-1d1ed07b5904","name":"Return","type":"n8n-nodes-base.set","position":[2352,848],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"63ddb93b-18ba-4166-9084-d73b165ab105","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1440,720],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"96cee9d2-c060-4d53-b74a-933bc6abb431","name":"If file too large","type":"n8n-nodes-base.if","position":[1248,752],"typeVersion":2},{"parameters":{},"id":"789596a5-d879-426f-bf85-63de8cbefcf5","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1248,1008],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"319e4cb3-c3ed-47aa-a463-980ddb688f73","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1440,1008],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"dfa7a8fd-19f5-441e-88bf-ca12770cc452","name":"Check Status","type":"n8n-nodes-base.switch","position":[1664,1008],"typeVersion":1},{"parameters":{},"id":"084d90a1-7fc8-4770-9d9f-c2caa831f309","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1888,848],"typeVersion":1},{"parameters":{},"id":"507c2d3e-0150-4515-8840-51836f274ea6","name":"File is different","type":"n8n-nodes-base.noOp","position":[1888,1008],"typeVersion":1},{"parameters":{},"id":"ffdaf3ae-a9c7-4ea8-8f27-3edeeea2c469","name":"File is new","type":"n8n-nodes-base.noOp","position":[1888,1168],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"92c8c597-f494-4bfa-9291-1c670f3e50c2","name":"Create new file","type":"n8n-nodes-base.github","position":[2112,1168],"typeVersion":1,"webhookId":"41e5bb3e-6a2a-43e2-9106-07c957f6dfc8","credentials":{"githubApi":{"id":"C3YIWa6MdnI8dTdS","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"62dd78b9-b5f5-485f-8cf3-8e9eb0b8c693","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2112,992],"typeVersion":1,"webhookId":"2afd5126-2348-4839-8347-d187dd2eb90c","credentials":{"githubApi":{"id":"C3YIWa6MdnI8dTdS","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"129059f0-21c3-4029-aa1d-ee40a3fb0e4b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[912,368],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"6210f6f9-443d-47f1-a033-2f380a6efc00","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[448,464],"typeVersion":1.2},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository. If it doesn't exist it will be created.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the workflows to go into a `workflows` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - workflows/\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.","height":600.88409546716,"width":371.1995072042308,"color":4},"id":"b81c0db4-a2a5-4aef-86a6-eb9826b38c4a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":434.88564057365943,"width":886.4410237965205,"color":7},"id":"0efc368e-99da-474e-982f-ca1a41002152","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[400,192],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"4032da8b-e476-475b-b7a5-3323ba86b7ff","name":"Get file data","type":"n8n-nodes-base.github","position":[1040,752],"typeVersion":1,"alwaysOutputData":true,"webhookId":"a80523b9-9425-4db2-947d-975e71ec3489","credentials":{"githubApi":{"id":"C3YIWa6MdnI8dTdS","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"MonsterDylan"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n-workflow-backups"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"=workflows/{{ $json.tags[0].name }}"}]},"options":{}},"id":"55bd538b-06df-40f0-8777-5a4af66afb9f","name":"Globals","type":"n8n-nodes-base.set","position":[832,912],"typeVersion":3.4},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"27eee1f9-cbcd-4b4f-892e-244c24ee0987","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[800,784],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"id":"e8fd6051-6c4f-471e-80ea-0be47bd8baf4","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[112,1088],"typeVersion":1.1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"id":"adef4bda-1a75-4e34-b529-f37d397c1841","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1120,352],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"12cad226-e091-4bbb-aed9-a8e01311772c","name":"tags[0].name","type":"string","value":"={{ $('Execute Workflow Trigger').item.json.tags[0].name }}/"}]},"options":{}},"id":"d9039ed6-4bbc-4676-a72f-06fde3fb495b","name":"/","type":"n8n-nodes-base.set","position":[592,800],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.tags[0] }}","rightValue":""}]},"renameOutput":true,"outputKey":"tag"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2656fbe3-fe35-4770-9c03-9a455ec618e4","operator":{"type":"object","operation":"notExists","singleValue":true},"leftValue":"={{ $json.tags[0] }}","rightValue":""}]},"renameOutput":true,"outputKey":"none"}]},"options":{}},"id":"59f83b6a-42e3-4cec-b103-0048404efcd7","name":"tag?","type":"n8n-nodes-base.switch","position":[352,912],"typeVersion":3.2}],"connections":{"/":{"main":[[{"node":"Globals","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"tag?":{"main":[[{"node":"/","type":"main","index":0}],[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"tag?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33559921-79cc-4fbd-a675-55ee397f0fe2","triggerCount":0,"tags":[{"createdAt":"2025-07-22T10:17:02.997Z","updatedAt":"2025-07-22T10:17:02.997Z","id":"khQkO4xNw0zoX27e","name":"backup"}]}