my-workflow-5-ANz61dXIdmpZZJb3.json
{"createdAt":"2025-07-15T08:49:13.984Z","updatedAt":"2025-07-15T08:49:13.000Z","id":"ANz61dXIdmpZZJb3","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1660,140],"id":"17963ab5-b012-438d-8933-ed618b00802b","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://www.google.com/search?q=site%3Alinkedin.com%2Fin%2F+%28%22ceo%22%29+%28%22Ahmedabad%22%29&sca_esv=0c57f3453f651efe&rlz=1C1CHBF_enIN1086IN1086&sxsrf=AE3TifMISMCnroA3-qFuvcDVT_5YNB_nqg%3A1749749885308&ei=fRBLaIm-Eu_g2roPrLySkQg&ved=0ahUKEwjJ8O-ituyNAxVvsFYBHSyeJIIQ4dUDCBA&uact=5&oq=site%3Alinkedin.com%2Fin%2F+%28%22ceo%22%29+%28%22Ahmedabad%22%29&gs_lp=Egxnd3Mtd2l6LXNlcnAiK3NpdGU6bGlua2VkaW4uY29tL2luLyAoImNlbyIpICgiQWhtZWRhYmFkIilIxtXtBFC23uwEWJTP7QRwBXgAkAEAmAHlAaABqyKqAQYwLjMzLjG4AQPIAQD4AQGYAgCgAgCYAwCIBgGSBwCgB_oLsgcAuAcAwgcAyAcA&sclient=gws-wiz-serp","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1440,140],"id":"7786a0f0-5331-4fdc-80fe-06ca9a6827fc","name":"HTTP Request"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^/\\s\">]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json: {website}}))\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1220,140],"id":"ecc9b60d-e544-47be-8d8c-080804639806","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a77ea75f-9c9a-422d-8253-5b7cef39c5ee","leftValue":"={{ $json.website }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"ce62d843-b98d-45b4-8117-f15264bb0aef","leftValue":"={{ $json.website }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"13303831-7617-488a-9b9f-9e1343c20013","leftValue":"={{ $json.website }}","rightValue":"gg","operator":{"type":"string","operation":"notContains"}},{"id":"6fc2c977-b7ec-4504-98e8-648c95b3881d","leftValue":"={{ $json.website }}","rightValue":"gstatic","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1000,140],"id":"57c7c02f-9469-441a-a04b-cefcaa8e3908","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-780,140],"id":"e92edf81-c558-4190-99ec-4ec2558309f5","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-300,160],"id":"eea71fdc-dc9f-4537-adbe-ed9ed066e11b","name":"Loop Over Items"},{"parameters":{"url":"https://maps.googleapis.com/maps/api/place/textsearch/json","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"data analyst hiring companies in India"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,180],"id":"bc6e0c03-8d7a-460e-b458-e74b65d7f697","name":"HTTP Request1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,200],"id":"4a60544a-3209-418c-acdd-0306bddae23f","name":"Wait","webhookId":"7fb9d603-6080-411a-b497-1204d8b09fbf"},{"parameters":{"maxItems":150},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-580,140],"id":"31244536-f939-4893-a196-4eac1b94ee88","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,0],"id":"8ba5ef98-8838-4271-a2c5-b5782a8e387d","name":"Wait1","webhookId":"0d4fd306-85c6-48ed-ae24-2a6ca5737dc7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7fc09c91-b33c-407d-8d1b-6981e178640b","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,0],"id":"41235db4-9d02-40c3-9c67-c2ef6bd82c5f","name":"Filter1"},{"parameters":{"fieldToSplitOut":"emails[0]","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[440,0],"id":"1f37c454-9c40-43f9-bcd0-e6cb81deabdd","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[660,0],"id":"6cc96882-77f5-4d19-9a60-3f1b89412048","name":"Remove Duplicates1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Fj42UZrXqBE6ZUBj60sxzPmnv3rfLtVqHxK7dL69a2Q","mode":"list","cachedResultName":"scrape without Paying for API","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fj42UZrXqBE6ZUBj60sxzPmnv3rfLtVqHxK7dL69a2Q/edit?usp=drivesdk"},"sheetName":{"value":"EMAILS","mode":"list"},"columns":{"mappingMode":"defineBelow","value":{"emails[0]":"={{ $json['emails[0]'] }}"},"matchingColumns":["Scrape"],"schema":[{"id":"emails[0]","displayName":"emails[0]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,0],"id":"7926f6a4-3434-4d9e-ac34-196725921454","name":"Google Sheets"},{"parameters":{"jsCode":"// Safely handle missing data\nconst input = $input.first().json.data || '';\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|jpeg|gif|webp|svg)[a-zA-Z]{2,}/g;\nconst emails = input.match(regex) || [];\nreturn { json: { emails } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,220],"id":"f5322ecc-bbcd-4b97-ac1c-fd75ceb572d9","name":"Extract Emails"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Code":[{"json":{"website":"http://schema.org"}},{"json":{"website":"https://maps.google.com"}},{"json":{"website":"https://maps.google.com"}},{"json":{"website":"https://lh3.ggpht.com"}},{"json":{"website":"https://lh4.ggpht.com"}},{"json":{"website":"https://lh5.ggpht.com"}},{"json":{"website":"https://lh6.ggpht.com"}},{"json":{"website":"https://streetviewpixels-pa.googleapis.com"}},{"json":{"website":"https://docs.google.com"}},{"json":{"website":"https://accounts.google.com"}},{"json":{"website":"https://business.google.com"}},{"json":{"website":"https://support.google.com"}},{"json":{"website":"https://business.google.com?skipLandingPage\\u003d1\\u0026hl\\u003den\\u0026authuser\\u003d0"}},{"json":{"website":"https://business.google.com"}},{"json":{"website":"https://arvr.google.com"}},{"json":{"website":"https://apis.google.com\\"}},{"json":{"website":"https://www.gstatic.com"}},{"json":{"website":"https://www.gstatic.com"}},{"json":{"website":"https://www.google.co.in"}},{"json":{"website":"https://ssl.gstatic.com"}},{"json":{"website":"https://accounts.google.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://smagsloeget.dk"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://support.google.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://smagsloeget.orderyoyo.com"}},{"json":{"website":"https://smagsloeget.orderyoyo.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t0.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t0.gstatic.com"}},{"json":{"website":"http://t0.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh6.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://www.chillee.dk"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://support.google.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh5.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"http://baksandwich.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh6.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"http://www.pickup.fredco.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://pickup.fredco.dk"}},{"json":{"website":"http://pickup.fredco.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh4.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://daniasandwichogpizza.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://daniatapasogsandwich.nemtakeaway.dk"}},{"json":{"website":"https://daniatapasogsandwich.nemtakeaway.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh4.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"http://www.sunshine-sandwichbar.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://umamisandwich.dk"}},{"json":{"website":"https://umamisandwich.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh6.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh4.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"http://www.sandwichpigen.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh4.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"http://thesandwich.nu"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"http://lillebrors.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh5.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"http://t2.gstatic.com"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh6.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"http://dutchshop.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh5.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"http://www.anettessandwich.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh5.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://thesandwichcompany.bestilonline.dk"}},{"json":{"website":"https://thesandwichcompany.bestilonline.dk"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gustosandwich.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh4.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://urbanbites.dk"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"http://t1.gstatic.com"}},{"json":{"website":"https://urbanbites.orderyoyo.com"}},{"json":{"website":"https://urbanbites.orderyoyo.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://lh3.googleusercontent.com"}},{"json":{"website":"https://lh5.googleusercontent.com"}},{"json":{"website":"https://www.google.com"}},{"json":{"website":"https://maps.google.com"}},{"json":{"website":"https://tpc.googlesyndication.com"}},{"json":{"website":"https://www.google.com\\"}},{"json":{"website":"https://csi.gstatic.com"}},{"json":{"website":"http://csi.gstatic.com"}},{"json":{"website":"https://support.google.com"}}],"Filter":[{"json":{"website":"https://smagsloeget.dk"}},{"json":{"website":"https://smagsloeget.orderyoyo.com"}},{"json":{"website":"https://smagsloeget.orderyoyo.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://www.chillee.dk"}},{"json":{"website":"http://baksandwich.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"http://www.pickup.fredco.dk"}},{"json":{"website":"http://pickup.fredco.dk"}},{"json":{"website":"http://pickup.fredco.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://daniasandwichogpizza.dk"}},{"json":{"website":"https://daniatapasogsandwich.nemtakeaway.dk"}},{"json":{"website":"https://daniatapasogsandwich.nemtakeaway.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"http://www.sunshine-sandwichbar.dk"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://umamisandwich.dk"}},{"json":{"website":"https://umamisandwich.dk"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"http://www.sandwichpigen.dk"}},{"json":{"website":"http://thesandwich.nu"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"http://lillebrors.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"http://dutchshop.dk"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"http://www.anettessandwich.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://thesandwichcompany.bestilonline.dk"}},{"json":{"website":"https://thesandwichcompany.bestilonline.dk"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://gustosandwich.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://urbanbites.dk"}},{"json":{"website":"https://urbanbites.orderyoyo.com"}},{"json":{"website":"https://urbanbites.orderyoyo.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://wolt.com"}}],"Remove Duplicates":[{"json":{"website":"https://smagsloeget.dk"}},{"json":{"website":"https://smagsloeget.orderyoyo.com"}},{"json":{"website":"https://www.just-eat.dk"}},{"json":{"website":"https://wolt.com"}},{"json":{"website":"https://www.chillee.dk"}},{"json":{"website":"http://baksandwich.dk"}},{"json":{"website":"http://www.pickup.fredco.dk"}},{"json":{"website":"http://pickup.fredco.dk"}},{"json":{"website":"https://daniasandwichogpizza.dk"}},{"json":{"website":"https://daniatapasogsandwich.nemtakeaway.dk"}},{"json":{"website":"http://www.sunshine-sandwichbar.dk"}},{"json":{"website":"http://umamisandwich.com"}},{"json":{"website":"https://umamisandwich.dk"}},{"json":{"website":"https://ffood.mealo.dk"}},{"json":{"website":"http://www.sandwichpigen.dk"}},{"json":{"website":"http://thesandwich.nu"}},{"json":{"website":"http://lillebrors.dk"}},{"json":{"website":"https://brooklyn-sandwich.dk"}},{"json":{"website":"https://sandwichshoppen-frb.dk"}},{"json":{"website":"http://dutchshop.dk"}},{"json":{"website":"https://dutchcheeseandjuice.resos.com"}},{"json":{"website":"http://www.anettessandwich.dk"}},{"json":{"website":"https://thesandwichcompany.dk"}},{"json":{"website":"https://thesandwichcompany.bestilonline.dk"}},{"json":{"website":"https://gustosandwich.dk"}},{"json":{"website":"https://urbanbites.dk"}},{"json":{"website":"https://urbanbites.orderyoyo.com"}}]},"versionId":"ec364cb2-0af6-4447-898d-1cdd9cbef76a","triggerCount":0,"tags":[]}