my-workflow-7-RvlqhcBtaCJBaH7Q.json
{"createdAt":"2025-07-15T12:06:07.736Z","updatedAt":"2025-07-16T04:31:06.000Z","id":"RvlqhcBtaCJBaH7Q","name":"My workflow 7","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"9f5badb6-807f-4a81-8661-8967a35ec1b0","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[1500,740],"typeVersion":1.1},{"parameters":{"options":{}},"id":"dfb5a935-a11d-4143-9e03-b7c01633d429","name":"Loop over queries","type":"n8n-nodes-base.splitInBatches","position":[1200,260],"typeVersion":3},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{"allowUnauthorizedCerts":false}},"id":"2ccfb198-6cfa-476b-91af-4e9ed037e5f7","name":"Search Google Maps with query","type":"n8n-nodes-base.httpRequest","position":[900,740],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"},"id":"18cfa2b8-e9c9-4d1e-9c3b-6cd92330ed88","name":"Scrape URLs from results","type":"n8n-nodes-base.code","position":[1100,740],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.url }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"},{"id":"eb499a7e-17bc-453c-be08-a47286f726dd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"options":{}},"id":"a3bd74b8-1505-4abb-abfe-a4a9311d3402","name":"Filter irrelevant URLs","type":"n8n-nodes-base.filter","position":[1300,740],"typeVersion":2.2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"2b1394e5-0259-410d-a967-3e905931a876","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[1900,820],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"id":"2c5a1779-b524-416b-bf50-4cccb5f4cf6b","name":"Loop over URLs","type":"n8n-nodes-base.splitInBatches","position":[1700,740],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"5aa5b8d7-d084-4353-b524-bc0d65c2805f","name":"Loop over pages","type":"n8n-nodes-base.splitInBatches","position":[1920,480],"typeVersion":3,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"},"id":"11b9cbd7-9f03-4244-9902-67f035271ffa","name":"Scrape emails from page","type":"n8n-nodes-base.code","position":[2080,580],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":true}},"id":"7aee56a6-db15-475f-83e6-6336658c6153","name":"Aggregate arrays of emails","type":"n8n-nodes-base.aggregate","position":[2240,460],"typeVersion":1},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"0706cffe-2f7c-4029-a34d-53a1a6af65df","name":"Split out into default data structure","type":"n8n-nodes-base.splitOut","position":[2460,460],"typeVersion":1},{"parameters":{"compare":"selectedFields","fieldsToCompare":"emails","options":{}},"id":"3e73a394-a60d-4337-a005-e474a383e984","name":"Remove duplicate emails","type":"n8n-nodes-base.removeDuplicates","position":[2680,460],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.emails }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"}]},"options":{}},"id":"92ccef8c-1df6-4ba6-8d5a-57acdc50d377","name":"Filter irrelevant emails","type":"n8n-nodes-base.filter","position":[2880,460],"typeVersion":2.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1nuvp16QezkPBTGNw_joZjPuXS5pEvQrnBbyNifD93Rc","mode":"list","cachedResultName":"n8n testing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nuvp16QezkPBTGNw_joZjPuXS5pEvQrnBbyNifD93Rc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":107614994,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nuvp16QezkPBTGNw_joZjPuXS5pEvQrnBbyNifD93Rc/edit#gid=107614994"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1959efad-2794-4768-b957-fa705572f0b3","name":"Save emails to Google Sheet","type":"n8n-nodes-base.googleSheets","position":[3080,460],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{},"id":"f9f3a612-28e4-40b6-8a8b-93d3dd4534a5","name":"Starts scraper workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[680,740],"typeVersion":1},{"parameters":{},"id":"fd67d5bd-d21d-4ed2-a13e-1291d8715018","name":"Run workflow","type":"n8n-nodes-base.manualTrigger","position":[960,260],"typeVersion":1},{"parameters":{"amount":2},"id":"e439483b-d05c-4ac9-96ee-d48bdd598f36","name":"Wait between executions","type":"n8n-nodes-base.wait","position":[1640,400],"webhookId":"40eb11a9-0f7d-4932-993e-0052b69dbf9b","typeVersion":1.1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":false}},"id":"a3a9ca43-c1b3-4494-b8b0-60f51109c401","name":"Execute scraper for query","type":"n8n-nodes-base.executeWorkflow","position":[1400,360],"typeVersion":1.1},{"parameters":{"content":"## 🛠 Setup\n1. Setup your list of queries in the \"Run workflow\" manual trigger node. Watch  this [video](https://youtu.be/HaiO-UeiKBA) on how to generate the queries with ChatGPT.\n3. Choose a sheet to populate with data in the **Google Sheets node**\n4. Run the workflow and start getting leads into your Google Sheets document","height":180,"width":740,"color":5},"id":"5ce82e75-3005-4f3d-b572-c05ae9191fb1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,220],"typeVersion":1},{"parameters":{"content":"**Optional** 👇\nSet wait time between each query workflow execution. Default is 2 seconds.","height":100,"color":6},"id":"ae311c4d-7713-447c-bf7b-0ffa987d065b","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1580,240],"typeVersion":1},{"parameters":{"content":"### Scraper 👇\nThis workflow will be executed in the background for each query. Click the **All executions** tab in the left sidebar to see the executions running.","height":100,"width":480},"id":"aff4b2d3-58cb-4820-b01a-0017fa543e7e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[680,620],"typeVersion":1},{"parameters":{"content":"👆 \n1. Setup your **credentials**. Here's a [video tutorial](https://youtu.be/O5RnWDM27M8) on how to do that.\n\n2. Choose which document and sheet to save the scraped emails to. ","height":180,"color":4},"id":"89a8bfab-a5c7-4f3f-ae9f-8b8622aa203f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3100,660],"typeVersion":1},{"parameters":{"content":" ## ⚠️ Note\n\nA [video tutorial](https://youtu.be/HaiO-UeiKBA) for this workflow guide is available on my [Youtube channel](https://www.youtube.com/channel/UCn8xmUBunez1SsDVRfZDUGA)","color":3},"id":"a411720c-d479-443a-8cde-c235c9478ff0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[520,0],"typeVersion":1},{"parameters":{"content":"## Google Maps Automatic Email Scraper\n\nThis workflow automatically scrapes emails from businesses on Google Maps based on a list of queries that you provide.","height":140,"width":480,"color":7},"id":"244cbb20-b7a5-49bc-9272-c985b5d49fdc","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"**Optional** 👆\nAdd or change the regex for filtering irrelevant URLs.","height":100,"width":160,"color":6},"id":"cbd098e3-3a14-4687-a8ad-90a3472bd646","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1280,900],"typeVersion":1},{"parameters":{"content":"**Optional** 👆\nAdd or change the regex for filtering irrelevant/incorrect email addresses.","height":100,"width":200,"color":6},"id":"446773c6-158c-4246-830f-cadcc4fa28b1","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[2860,620],"typeVersion":1}],"connections":{"Run workflow":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Loop over URLs":{"main":[[{"node":"Loop over pages","type":"main","index":0}],[{"node":"Request web page for URL","type":"main","index":0}]]},"Loop over pages":{"main":[[{"node":"Aggregate arrays of emails","type":"main","index":0}],[{"node":"Scrape emails from page","type":"main","index":0}]]},"Loop over queries":{"main":[[],[{"node":"Execute scraper for query","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Filter irrelevant URLs":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Remove duplicate emails":{"main":[[{"node":"Filter irrelevant emails","type":"main","index":0}]]},"Scrape emails from page":{"main":[[{"node":"Loop over pages","type":"main","index":0}]]},"Starts scraper workflow":{"main":[[{"node":"Search Google Maps with query","type":"main","index":0}]]},"Wait between executions":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Filter irrelevant emails":{"main":[[{"node":"Save emails to Google Sheet","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Scrape URLs from results":{"main":[[{"node":"Filter irrelevant URLs","type":"main","index":0}]]},"Execute scraper for query":{"main":[[{"node":"Wait between executions","type":"main","index":0}]]},"Aggregate arrays of emails":{"main":[[{"node":"Split out into default data structure","type":"main","index":0}]]},"Search Google Maps with query":{"main":[[{"node":"Scrape URLs from results","type":"main","index":0}]]},"Split out into default data structure":{"main":[[{"node":"Remove duplicate emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3854c97a-526b-44cd-85e9-7eded9783f23","triggerCount":0,"tags":[]}