my-workflow-6-O3NneZFTgARkVSsy.json
{"createdAt":"2025-07-15T12:00:42.347Z","updatedAt":"2025-07-15T12:00:42.000Z","id":"O3NneZFTgARkVSsy","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1300,380],"id":"03f9fa0b-5d36-4a86-a8a8-f3347a22879e","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"6471a106-2e18-4ca6-980e-a024c4d42be8","name":"website","value":"https://www.yellowpages.com/search?search_terms=CLOTHING+BRANDS&geo_location_terms=New+York%2C+NY","type":"string"},{"id":"a8c416f2-5410-4493-a1ed-d51282566216","name":"pages","value":"3","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,380],"id":"ceae5252-e2ad-4f2e-9b20-15c069b873f5","name":"Website"},{"parameters":{"text":"={{ $json.results[0].content }}","schemaType":"manual","inputSchema":"{\n\t\"type\": \"array\",\n\t\"items\": {\n\t\t\"type\": \"object\",\n\t\t\"properties\": {\n\t\t\t\"company_name\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"phone_number\": {\n\t\t\t\t\"type\": \"string\",\n\t\t\t\t\"pattern\": \"^\\\\+?[0-9]{7,15}$\"\n\t\t\t},\n           \"website\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t},\n\t\t\t\"year_in_business\": {\n\t\t\t\t\"type\": \"number\",\n\t\t\t\t\"minimum\": 0,\n\t\t\t\t\"maximum\": 99\n\t\t\t}\n\t\t}\n\t}\n}\n","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nAlways output the data in a json array called results. \nYour goal is to extract all the companies of the page. To do so, you will give: company name, phone number, website, number of years in business, for each result you can find."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[120,260],"id":"4ee939c6-77f4-4711-ba8c-578a5b1fffd9","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,500],"id":"dbf1d792-6602-4468-bc91-4b811825292c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymYKSCRcQojB59Qh","name":"OpenAi account 2"}}},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[620,240],"id":"2b5e35f6-57e3-40ae-91ed-7084279a2b22","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lesyzMsowlOims6HTIhndCRhgwKijpRRFXZ83cMU7JM","mode":"list","cachedResultName":"N8N ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lesyzMsowlOims6HTIhndCRhgwKijpRRFXZ83cMU7JM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lesyzMsowlOims6HTIhndCRhgwKijpRRFXZ83cMU7JM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Dentist":"={{ $json.company_name }}","phone number":"={{ $json.phone_number }}","years in business":"={{ $json.year_in_business }}","website":"={{ $json.website }}","doNotUse":"={{ $json.website \n    ? `info@${$json.website.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').split('/')[0]}` \n    : `info@${$json.company_name.split(' ')[0].toLowerCase()}.com` }}"},"matchingColumns":[],"schema":[{"id":"Dentist","displayName":"Dentist","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone number","displayName":"phone number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"years in business","displayName":"years in business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"doNotUse","displayName":"doNotUse","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,500],"id":"42fd5f23-5b97-409b-89c7-e2e57f7f9e69","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://realtime.oxylabs.io/v1/queries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"universal\",\n  \"url\": \"{{ $json.url }}\"\n}\n\n","options":{}},"id":"6fbb0c02-d1b1-48a6-a0fd-9c6994b4512e","name":"ScrapeWebsite","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,380]},{"parameters":{"batchSize":"=1","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,380],"id":"d6c4dd18-11cc-4fee-a690-72f2960c80f5","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"920c0da2-b882-4504-bdf4-7e697785f028","name":"counter","value":2,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,380],"id":"1e1bae99-10ea-4e59-ab6d-774aef3eda47","name":"init"},{"parameters":{"resource":"lead","campaignId":"=cam_YA575FbieMfvioKCp","email":"={{ $json.doNotUse }}","additionalFields":{"companyName":"={{ $json.Dentist }}","companyDomain":"={{ $json.website }}","phone":"={{ $json[\"phone number\"] }}"}},"type":"n8n-nodes-base.lemlist","typeVersion":2,"position":[-120,100],"id":"dd2e68b6-8caa-4e3b-b6bb-db4358b1b56e","name":"Lemlist","credentials":{"lemlistApi":{"id":"7WMR6JcvfWtE4vtY","name":"Lemlist account"}}},{"parameters":{"content":"Fill here website and ","height":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1160,280],"id":"90095938-e075-46fc-8879-21920f760980","name":"Sticky Note"},{"parameters":{"jsCode":"const websiteData = $(\"Website\").all()[0]?.json;\nconst pages = Array.from({ length: websiteData.pages }, (_, i) => i + 1);\nconst urls = pages.map((page) => ({ json: { url: `${websiteData.website}&page=${page}` } }));\n\nreturn urls;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,380],"id":"4d6dfbb3-5473-495b-9a5a-55e815d2c6fa","name":"generate_URL"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Website","type":"main","index":0}]]},"Website":{"main":[[{"node":"init","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"ScrapeWebsite":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Lemlist","type":"main","index":0}],[{"node":"ScrapeWebsite","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"init":{"main":[[{"node":"generate_URL","type":"main","index":0}]]},"generate_URL":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8874f349-59f5-40dc-ad28-d2fbe2700415","triggerCount":0,"tags":[]}