o-api-YTHN7TM6YMRpAuxu.json
{"createdAt":"2025-06-03T13:11:32.204Z","updatedAt":"2025-06-03T13:22:09.000Z","id":"YTHN7TM6YMRpAuxu","name":"Google Maps Scraper W/O API","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1520,20],"id":"265cc80f-ed3a-49f3-9c0c-b41bf58f7380","name":"When clicking ‘Test workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-720,20],"id":"200f20fc-f9ed-4f4d-b8d1-1d1574a67da5","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,20],"id":"27295322-54bf-4405-aad8-0ca34b171019","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[40,120],"id":"c1449baa-e150-45c3-8570-6c0f13aeea78","name":"Wait","webhookId":"19cc6ed4-4fe7-485b-b879-c679e4b3374d"},{"parameters":{"maxItems":50},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-540,20],"id":"aacd7298-4655-4520-ba91-240fcb92aa5e","name":"Limit"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-140,-40],"id":"e8c7593c-2a81-4456-a49d-7e27092435f4","name":"Wait1","webhookId":"0fe34756-6e43-4603-8891-5747a9a6500a"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[220,-40],"id":"201374f6-ada3-4812-9a59-db9a0b461644","name":"Split Out"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!jpeg|jpg|png|gif|webp|svg)[a-zA-Z]{2,}/g\nconst emails = input.match(regex)\nreturn {json: {emails:emails}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,120],"id":"2d2528e1-6310-4b26-a7fa-3332cc55d552","name":"Extract Emails","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g\nconst websites = input.match(regex)\nreturn websites.map(website => ({json:{website}}))"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,20],"id":"1a9804bf-82aa-48ae-94fc-115fe8fa0ed2","name":"Extract URLs"},{"parameters":{"url":"https://www.google.com/maps/search/clothing+manufacturer+in+ahmedabad","options":{"allowUnauthorizedCerts":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,20],"id":"23287987-9c61-4ebc-ac15-fe9260a2120f","name":"Scrape Google Maps"},{"parameters":{"url":"={{ $json.website }}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,120],"id":"8e9c32fc-ddd0-490e-b8fc-5657b50ca2f4","name":"Scrape Site","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a6786c58-424a-409a-b87f-8a7592cb7944","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[40,-40],"id":"d7cc16c8-b582-48b5-b3c1-c5aa3d6b6c80","name":"Filter Out Empties"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a5053-9660-457c-9581-964793bb6d7d","leftValue":"={{ $json.website }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"9110b9e0-12aa-45cc-bde0-9eda8c10970e","leftValue":"={{ $json.website }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"fb9b6ed6-96a5-4560-ab10-b8a4b9a61a2b","leftValue":"={{ $json.website }}","rightValue":"gg","operator":{"type":"string","operation":"notContains"}},{"id":"10500c0b-cdbd-4816-aba3-df60d69845dc","leftValue":"={{ $json.website }}","rightValue":"gstatic","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-920,20],"id":"6443a5d2-b95f-4836-afd4-9c4f925c10d7","name":"Filter Google URLs"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[420,-40],"id":"ca6050c4-2660-4597-b1ae-61c594702ab2","name":"Remove Duplicates (2)"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Scrape Google Maps","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Scrape Site","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter Out Empties","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates (2)","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract URLs":{"main":[[{"node":"Filter Google URLs","type":"main","index":0}]]},"Scrape Google Maps":{"main":[[{"node":"Extract URLs","type":"main","index":0}]]},"Scrape Site":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Filter Out Empties":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Filter Google URLs":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates (2)":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Filter Google URLs":[{"json":{"website":"https://www.antayulapparel.com"}},{"json":{"website":"https://www.colorhunt.in"}},{"json":{"website":"http://www.almyt.com"}},{"json":{"website":"https://www.kgplimpex.com"}},{"json":{"website":"http://www.edgegarments.in"}},{"json":{"website":"http://thalasiknitfab.com"}},{"json":{"website":"https://cadilafashion.com"}},{"json":{"website":"https://rjclothing.in"}},{"json":{"website":"http://www.beewellfashion.com"}},{"json":{"website":"https://kavyastyleplus.com"}},{"json":{"website":"https://www.gentlemangarment.com"}}]},"versionId":"b8e78382-a7fe-479a-b8e6-044dd7bab3d2","triggerCount":0,"tags":[{"createdAt":"2025-06-03T13:11:28.154Z","updatedAt":"2025-06-03T13:11:28.154Z","id":"pS1jZ07pu6uvdmPQ","name":"N8N Course"}]}