outreach-machine-with-google-maps-dxCl6mg8at2mBpF4.json
{"createdAt":"2025-06-12T09:24:17.434Z","updatedAt":"2025-07-16T09:09:30.000Z","id":"dxCl6mg8at2mBpF4","name":"Outreach Machine with Google Maps","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Google Scraper Form","formFields":{"values":[{"fieldLabel":"City","requiredField":true},{"fieldLabel":"Country","requiredField":true},{"fieldLabel":"Max Search","fieldType":"number","requiredField":true},{"fieldLabel":"Category","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1380,200],"id":"0af737db-e2ed-4fdb-af26-11d0d084c2b3","name":"On form submission","webhookId":"5b69eb53-92de-491d-b85a-150c926b5d30"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/run-sync-get-dataset-items?token=apify_api_cVawLedj4UN2EU46BfUiShZi5ZzfKk1rawJD","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.City }}, {{ $json.Country }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Max Search'] }},\n    \"searchStringsArray\": [\n        \"{{ $json.Category }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,200],"id":"362c4a69-8726-4a6c-94d4-8f84d28420ba","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Search Query":"={{ $('On form submission').item.json.Category }}","Business Name":"={{ $json.title }}","Address":"={{ $json.address }}","Pincode":"={{ $json.postalCode }}","City":"={{ $json.city }}","State":"={{ $json.state }}","Reviews":"={{ $json.reviewsCount }}","Image Count":"={{ $json.imagesCount }}","Website URL":"={{ $json.website }}","Linkedin":"={{ $json.linkedIns[0] }}","Twitter":"={{ $json.twitters[0] }}","Instagram":"={{ $json.instagrams[0] }}","YouTube":"={{ $json.youtubes[0] }}","Phone Number":"={{ $json.phones[0] }}","Email":"={{ $json.emails[0] }}","Mail Sent":"N"},"matchingColumns":[],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-660,200],"id":"7a97b139-46d4-4f1e-b27e-805554825238","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4537e215-2aef-453d-985c-a05cf8b0b46f","leftValue":"={{ $json.Email }}","rightValue":"FILL","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-380,180],"id":"97730c8b-fdfd-4568-b785-696fe4321961","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"650dec2a-7aee-4621-b4b3-517cc60d717b","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Input data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}"},{"content":"=You are an AI agent crafting a compelling, concise cold email icebreaker for a free brand audit, designed to be irresistible. Use a warm, tailored tone to build instant rapport and drive engagement. \n\n## Context  \n- These icebreakers are used at the top of cold emails to set a friendly, non-salesy tone.  \n- The goal is to create instant rapport, not to pitch.    \n- Avoid generic phrasing like \"always great to connect with people in X\"—focus directly on the recipient.  \n- Long company names should be simplified to how they would be said in conversation.  \n\n## Instructions  \nAddress the recipient by their first name for a personal touch.\nHighlight a specific, relevant detail from their background (e.g., {{ $json['Business Name'] }}, {{ $json.City }}, {{ $json['Search Query'] }}, {{ $json['Website URL'] }}) to show genuine interest.\nOptionally, weave in shared context with the sender (e.g., both in Ahmedabad, same industry) to create connection.\nOffer a free brand audit as a high-value, no-strings opportunity to amplify their online presence, emphasizing unique insights tailored to their business.\nEnd with an engaging, low-pressure call-to-action: \"Excited to explore this? Let’s chat on WhatsApp: https://wa.me/917574845628.\"\nKeep the message under 250 characters, conversational, and laser-focused to spark a \"Yes\" reply or WhatsApp click.\nAvoid emojis, hashtags, additional links (except WhatsApp), formalities, or vague phrases like \"hope you’re well\" or \"great to connect.\"\n\nCraft it to feel like a thoughtful DM from a trusted peer, making the offer feel exclusive and urgent without being pushy. \n\n## Tools  \n- Input data fields (recipient):  \nInput data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}\n\n## Examples  \n## SOP (Standard Operating Procedure)    \n1. Extract a specific, interesting detail from the input data.  \n2. If appropriate, reference the user’s shared context (e.g., mutual location, industry focus).  \n3. Write a two-line message that feels natural, not scripted.  \n3. Keep the message under 300 characters total.  \n\n## Final Notes  \n- Do not include emojis, links, hashtags, or formalities.  Just Tell that to continue further you can connect us on whatsapp with this link https://wa.me/917574845628\n- Avoid generic intros and focus on personalized, 1:1 tone.  \n- Think of the icebreaker like a quick, thoughtful DM that tees up a conversation.  ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,220],"id":"e6358976-3f8a-4bf0-a682-e3813c1dd7f0","name":"OpenAI","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"columns":{"mappingMode":"defineBelow","value":{"Email Content":"={{ $json.message.content }}","Mail":"={{ $('If').item.json.Email }}","Time Stamp":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Email Content","displayName":"Email Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,280],"id":"aad8faf2-6a60-4e43-bd31-347f381d6947","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"City":"={{ $json.City }}","Country":"={{ $json.Country }}","Max Search":"={{ $json['Max Search'] }}","Category":"={{ $json.Category }}","Submitted Date and Time":"={{ $json.submittedAt }}","Actor Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1140,200],"id":"b90212ee-e485-438b-b453-2548c17860ed","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"=Are you Owner of {{ $('Google Sheets').item.json['Business Name'] }}?, We Found Few Insights for You! ","emailType":"text","message":"={{ $json['Email Content'] }}\n\nBest Regards,\nSunil Patel\nTeam Emerge (Division Of Fibre2Fashion)\n+91 7574845628","options":{"appendAttribution":false,"ccList":"vimal.bachani@fibre2fashion.com, sunil.patel@fibre2fashion.com,swapnil.mandloi@fibre2fashion.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1580,280],"id":"6f039c4f-6520-4135-a7e2-f07e5e5d388c","name":"Gmail","webhookId":"960e45d9-cacd-4238-a7be-280513189854","credentials":{"gmailOAuth2":{"id":"fNK6sbXxhxSyGMpc","name":"Gmail account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Mail Sent":"Y","Email":"={{ $('Google Sheets').item.json.Email }}"},"matchingColumns":["Email"],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[620,-200],"id":"22a1e3ce-e7fd-42e7-8cb5-4bcc46428846","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Submitted Date and Time":"={{ $('On form submission').item.json.submittedAt }}","Actor Status":"Done"},"matchingColumns":["Submitted Date and Time"],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1560,-200],"id":"67fd068c-61f5-4e8a-9746-a9f690cd3776","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"amount":15,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1260,280],"id":"7f06cfa0-8955-40ed-bd4f-d0d07ccf452b","name":"Wait","webhookId":"ef94697b-e495-4c78-ac66-9c49838dd37c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ee56d8-21ac-4b2b-b9fe-61439cf7503c","leftValue":"={{ $('Google Sheets').item.json['Mail Sent'] }}","rightValue":"N","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"09b67abe-17d5-4f05-99c3-f539d5eb5cf6","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b829d61c-a24e-4276-bdea-a62bb7851e2a","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,280],"id":"715d4615-a191-418e-bf16-65e362ce0b0f","name":"If1"},{"parameters":{"content":"## Scraping Segment","height":460,"width":1340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1460,0],"id":"d62f2f7e-01ed-4119-92c3-9864c5c1c58a","name":"Sticky Note"},{"parameters":{"content":"## Email Draft Creation & Sending Process\n","height":1020,"width":1860,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,-400],"id":"2d9cb7c0-3819-481c-b736-d10f8d2351e1","name":"Sticky Note1"}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets3","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"If1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb2ec510-1656-4617-8c0d-b2aa210acef8","triggerCount":1,"tags":[]}