postiz-trial-2sXaHVoyDVtpDeac.json
{"createdAt":"2025-06-24T10:17:21.705Z","updatedAt":"2025-06-24T11:05:32.000Z","id":"2sXaHVoyDVtpDeac","name":"Postiz Trial","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1260,400],"id":"c78308e0-5e06-4a21-83ae-469bbbe499b9","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"0f5772c0-1f84-45e9-b131-8be1c8dd6d85","name":"postiz_api","value":"https://postiz.emerge-accelerator.com/6b72a45842400168ace7bf90894c0193dd3c610dad5d5a7e4cf39c8d773c805a/public/v1","type":"string"},{"id":"781d5f1b-1724-4cd4-9e0d-916de65b43e5","name":"share_video_url","value":"https://cdn.pixabay.com/video/2023/08/31/178472-859955927_small.mp4?download","type":"string"},{"id":"f3d9536a-3dc9-4673-b774-0434ca64575f","name":"share_title","value":"Summer is coming","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,400],"id":"be3de4a7-3e8c-4ece-b26d-07c2d9e7764e","name":"Configure me"},{"parameters":{"url":"={{ $json.share_video_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-780,400],"id":"4b6897cd-7c22-4a78-aabe-c569e74e7a9d","name":"Download video"},{"parameters":{"method":"POST","url":"={{ $('Configure me').item.json.postiz_api }}/upload","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,400],"id":"f5f623b3-d817-4464-8cbf-b668d69fecd6","name":"Upload video to Postiz","credentials":{"httpHeaderAuth":{"id":"ByEkAdsoMvlE2aTj","name":"Postiz Auth"}}},{"parameters":{"url":"={{ $('Configure me').item.json.postiz_api }}/integrations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,400],"id":"cee5391c-79f7-4520-8216-eca9ee4ebaec","name":"Get Postiz integrations","credentials":{"httpHeaderAuth":{"id":"ByEkAdsoMvlE2aTj","name":"Postiz Auth"}}},{"parameters":{"method":"POST","url":"={{ $('Configure me').item.json.postiz_api }}/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"schedule\",\n  \"date\": \"{{ $now.plus(1, 'days').toISO() }}\",\n  \"tags\": [],\n  \"shortLink\": false,\n  \"posts\": [\n    {\n      \"integration\": {\n        \"id\": \"{{ $('Switch').item.json.id }}\"\n      },\n      \"value\": [\n        {\n          \"content\": \"{{ $('Configure me').item.json.share_title }}\",\n          \"image\": [\n            {\n              \"id\": \"{{ $('Upload video to Postiz').item.json.id }}\",\n              \"path\": \"{{ $('Upload video to Postiz').item.json.path }}\"\n            }\n          ]\n        }\n      ],\n      \"settings\": {\n        \"title\": \"{{ $('Configure me').item.json.share_title }}\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,400],"id":"0a94fa18-e7b0-4ac9-b6cf-05c420c4b3a7","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"ByEkAdsoMvlE2aTj","name":"Postiz Auth"}}},{"parameters":{"url":"https://postiz.emerge-accelerator.com/6b72a45842400168ace7bf90894c0193dd3c610dad5d5a7e4cf39c8d773c805a/public/v1/integrations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 6b72a45842400168ace7bf90894c0193dd3c610dad5d5a7e4cf39c8d773c805a"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,400],"id":"89cb5faf-d7df-4d9c-84ff-dbe045531d36","name":"HTTP Request1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Configure me","type":"main","index":0}]]},"Configure me":{"main":[[{"node":"Download video","type":"main","index":0}]]},"Download video":{"main":[[{"node":"Upload video to Postiz","type":"main","index":0}]]},"Upload video to Postiz":{"main":[[{"node":"Get Postiz integrations","type":"main","index":0}]]},"Get Postiz integrations":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"55c75485-609d-4600-bdef-e4aae73da90b","triggerCount":0,"tags":[]}