shopify-sales-report-automation.json-IrmhSW54nTf6v9E7.json
{"createdAt":"2025-07-16T06:22:31.083Z","updatedAt":"2025-07-16T06:22:31.000Z","id":"IrmhSW54nTf6v9E7","name":"shopify-sales-report-automation.json","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=You are an intelligent assistant tasked with generating a daily summary of recent e-commerce orders.\n\nYour Goal and Required Tool Usage:\n\nRetrieve Data from Supabase (Critical Tool Calls):\n\nTo get order item details, you MUST call the tool named get orders.\nTo get order item details, you MUST call the tool named Send Gmail Summary.\n\nAfter calling this tool, process the data they return to identify all necessary information for the summary.\n\nIdentify Recent Orders:\n\nFrom the data retrieved by the Get Orders tool, specifically filter for all orders that have been placed within the last 01 week. Today is {{ $now }}\nGenerate Summary and Details (Strict Plain Text Formatting Required):\n\nUsing the data from the get orders, create:\nA concise summary of these recent orders, including the total number of new orders and the total revenue generated.\nA detailed list of each individual new order. For each order, include its ID, placement date/time, the client's name, the total value, and a clear list of all products included in that order (product name, quantity, price per item).\nCRITICAL PLAIN TEXT FORMATTING INSTRUCTIONS:\nSeparate all lines and paragraphs with clear newlines.\nUse double newlines to create distinct paragraph breaks for readability.\nDo NOT use any special characters for bolding, italics, headings, or bullet points (e.g., no *, #, **). Just use plain text.\nIndent lists using spaces for clarity if possible.\nEnsure the output is a single, readable block of plain text suitable for an email body.\n\nSend Email (Critical Tool Call):\n\nTo send the generated summary and detailed list via email, you MUST call the tool named Send Gmail Summary.\nThe email subject should be \"Weekly Order Summary - Last one week\".\nThe email body will contain the generated plain text content.\nExample of Desired Email Body Structure (Plain Text - Italian, Rome Timezone):\n\nWeekly Order Summary (Last 01 week)\n\nTotal New Orders: [Number of orders]\nTotal Revenue: [Total revenue amount]\n\n---------------------------------------\n\nNew Order Details:\n\nOrder ID: [Order ID 1]\nDate: 25/05/2025 20:03 CEST\nCustomer: [Customer Name 1]\nTotal Value: [Total Value 1]\nItems:\n- [Product Name A] (x[Quantity A]) - [Price A]\n- [Product Name B] (x[Quantity B]) - [Price B]\n\nOrder ID: [Order ID 2]\nDate: 25/05/2025 20:03 CEST\nCustomer: [Customer Name 2]\nTotal Value: [Total Value 2]\nItems:\n- [Product Name X] (x[Quantity X]) - [Price X]\n- [Product Name Y] (x[Quantity Y]) - [Price Y]\n\n... (continues for all new orders in a similar format)","options":{}},"id":"ce312ad9-262b-488c-af81-3234a89fddbb","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[400,-20],"typeVersion":1.9},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to send an email summary about the orders","sendTo":"={{ $json.toEmail }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"id":"154cf651-b5f7-4294-99d8-e3c322a75293","name":"Send Gmail Summary","type":"n8n-nodes-base.gmailTool","position":[700,180],"webhookId":"8b8d8a36-744d-4716-a6cf-8d6a3b6fa67a","typeVersion":2.1},{"parameters":{"assignments":{"assignments":[{"id":"0376e8ed-6c68-4bcd-9913-73486ac3dd69","name":"toEmail","type":"string","value":"riazulkabirx@gmail.com"}]},"options":{}},"id":"73670fd4-0fc0-4ae4-a462-60b61219db7b","name":"Set Sender Email","type":"n8n-nodes-base.set","position":[140,-20],"typeVersion":3.4},{"parameters":{"authentication":"accessToken","operation":"getAll","returnAll":true,"options":{}},"type":"n8n-nodes-base.shopifyTool","typeVersion":1,"position":[560,200],"id":"d06f138d-4972-4d6f-bb75-5dd2ce6a8d6b","name":"get orders"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"caae308e-927a-4a25-bc88-9dc61f774938","name":"Monday 8am","type":"n8n-nodes-base.scheduleTrigger","position":[-80,-20],"typeVersion":1.2},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[340,180],"id":"d395d662-4619-4fda-9ac9-7126c0974bad","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ymYKSCRcQojB59Qh","name":"OpenAi account 2"}}}],"connections":{"Send Gmail Summary":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Set Sender Email":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"get orders":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Monday 8am":{"main":[[{"node":"Set Sender Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1c24ea15-0033-4d11-b45f-52ae5deec322","triggerCount":0,"tags":[]}