shopify-blog-post-saf6URudEJ3MCXT7.json
{"createdAt":"2025-07-17T06:37:24.214Z","updatedAt":"2025-07-17T10:56:04.000Z","id":"saf6URudEJ3MCXT7","name":"SHOPIFY BLOG POST","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Write a Shopify blog article based on the following inputs:\n\nProduct Name:\nBlog Topic: \nTags: \nNotes: \n\nMake the blog sound friendly, inspiring, and human . Your goal is to engage readers emotionally while subtly encouraging them to explore or buy the product. Use storytelling, relatable trends, and practical tips to highlight how the product fits modern fashion needs.\n\nInclude:\n- A captivating blog title\n- SEO-friendly structure (intro, body, closing)\n- Use of natural language and casual tone\n- Connection to seasonal or trend-based keywords if applicable\n\nMake sure to avoid sounding robotic — be authentic, conversational, and persuasive.\n","options":{}},"id":"107adc62-1d0a-41bc-bc0b-adb10cb518b2","name":"AI Blog Generator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[260,-60]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"e1a474df-4dc7-42ac-8640-bad9aa30aa1c","name":"Format Blog","type":"n8n-nodes-base.code","typeVersion":1,"position":[640,-60]},{"parameters":{"authentication":"predefinedCredentialType","nodeCredentialType":"shopifyOAuth2Api","requestMethod":"POST","url":"https://pepabai.com/admin/api/2023-07/blogs/241405605587/articles.json\n","jsonParameters":true,"options":{}},"id":"bc5a099c-78dd-4ca7-9935-4922af8cf22b","name":"Shopify Post Blog","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1160,-200]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,140],"id":"b382ed8e-068c-4168-8c87-3eb4d70e8cf9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"formTitle":"Shopify Product Name","formFields":{"values":[{"fieldLabel":"Blog Topic"},{"fieldLabel":"Tags - Custom Description or Notes"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[20,-60],"id":"37bfc74b-27ff-4eac-bd45-e47786df844f","name":"On form submission","webhookId":"a2ad0952-9e55-476d-ac03-eb7512aa40ec"},{"parameters":{"options":{"formTitle":"=Final output"}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[860,-60],"id":"98839d6d-c0b6-4f1a-b4b5-4c04f035da17","name":"Form","webhookId":"2b0dc908-b475-437f-aff7-159877502d63"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Blog Generator","type":"ai_languageModel","index":0}]]},"AI Blog Generator":{"main":[[{"node":"Format Blog","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"AI Blog Generator","type":"main","index":0}]]},"Format Blog":{"main":[[{"node":"Form","type":"main","index":0}]]},"Form":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ecd6d83-d6e8-40ac-98ca-ffe9702e5aa8","triggerCount":0,"tags":[]}