website-contact-details-09ya1pi19UywDd1o.json
{"createdAt":"2025-06-13T11:23:52.876Z","updatedAt":"2025-06-13T12:50:39.000Z","id":"09ya1pi19UywDd1o","name":"Website Contact Details","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"cb26be1e-ac69-46a0-92bf-1f9c5644ac35","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"1ffd4522-a49d-4af3-a700-a9c3af929c34","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cdbccbb3-10ad-4973-a248-8a40ee78e40e","leftValue":"={{ $json['Status Update'] }}","rightValue":"Y","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[760,0],"id":"3c790692-5e38-4517-9bcd-34abbe72e745","name":"If"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,-20],"id":"03b15430-cd27-4499-97be-f4f09e57cdb7","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"29dd44c3-1489-4fd8-982c-8dbb385d4949","name":"Website Link","value":"={{ $json['Website Link'] }}","type":"string"},{"id":"7834f88b-ef4a-440c-b106-0ee17ea603ea","name":"Email New","value":"={{ $json['Email New'] }}","type":"string"},{"id":"ab874b88-0dfe-43a3-8220-26faae2bbe4d","name":"Phone Number","value":"={{ $json['Phone Number'] }}","type":"string"},{"id":"487380d4-b3c9-46dd-8f9c-2678c82374e7","name":"Instagram","value":"={{ $json.Instagram }}","type":"string"},{"id":"e03c100a-98e6-4fd6-b0d0-ea4886c4bb45","name":"Facebook","value":"={{ $json.Facebook }}","type":"string"},{"id":"5e1649d8-5c55-4edc-880e-26ef7799cc7e","name":"YouTube","value":"={{ $json.YouTube }}","type":"string"},{"id":"e400d672-5a51-44ab-8b0e-2823c02d05dc","name":"Linkedin","value":"={{ $json.Linkedin }}","type":"string"},{"id":"95037cea-4515-4420-a8ca-e16ee40667dd","name":"Twitter","value":"={{ $json.Twitter }}","type":"string"},{"id":"430ef467-4240-40b1-85f2-fcc26b8bb1fe","name":"Tiktok","value":"={{ $json.Tiktok }}","type":"string"},{"id":"8b7e6fc2-889d-416b-81c7-5b3a9e9cf844","name":"Status Update","value":"={{ $json['Status Update'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-20],"id":"bbced5de-d499-4ea8-8fb1-b3f302abbd53","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7681c793-e496-4023-be72-220bac384aa2","name":"Website Link","value":"={{ $json['Website Link'] }}","type":"string"},{"id":"537e187f-687b-43b1-9e38-1d8571d80096","name":"Email New","value":"={{ $json['Email New'] }}","type":"string"},{"id":"da3bcffa-cb49-4437-828e-23b9ed8557d8","name":"Phone Number","value":"={{ $json['Phone Number'] }}","type":"string"},{"id":"194556b2-71ed-4ae9-a6b8-a7c49ab28605","name":"Instagram","value":"={{ $json.Instagram }}","type":"string"},{"id":"d9397588-d09a-4481-9b35-52376476099b","name":"Facebook","value":"={{ $json.Facebook }}","type":"string"},{"id":"470cc902-8fdd-4897-957c-0ce68e6a6b0e","name":"YouTube","value":"={{ $json.YouTube }}","type":"string"},{"id":"ce35308b-6f14-47da-a1a6-9f29980e2f61","name":"Linkedin","value":"={{ $json.Linkedin }}","type":"string"},{"id":"93c4ff4a-708e-471d-90d8-dbaa40ee6061","name":"Twitter","value":"={{ $json.Twitter }}","type":"string"},{"id":"56fe957a-9832-45ac-aafd-3fc4a43779eb","name":"Tiktok","value":"={{ $json.Tiktok }}","type":"string"},{"id":"f3b2a242-a217-441c-be74-bc802552ebac","name":"Status Update","value":"={{ $json['Status Update'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"8b072578-fb02-4e70-8b8a-ef95b04b7a54","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-120,180],"id":"74e3f74c-c0fe-41b2-a2c8-9a9cdc29019b","name":"Schedule Trigger"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Website CMS Type":"=","Website Link":"={{ $('Limit').item.json['Website Link'] }}","Website Country Rank":"=","Website Visitors":"=","Bounce Rate":"=","Email":"=","YouTube":"={{ $json.youtubes[0].profileURL }}","Facebook":"={{ $json.facebooks[0].profileURL }}","Linkedin":"={{ $json.linkedIns[0] }}","Instagram":"={{ $json.instagrams[0].profileURL }}","Email New":"={{ $json.emails[0] }}","Status Update":"Y","Phone Number":"={{ $json.phones[0] }}"},"matchingColumns":["Website Link"],"schema":[{"id":"Sr No","displayName":"Sr No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand/Company","displayName":"Brand/Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Model","displayName":"Business Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POC Name","displayName":"POC Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 1","displayName":"Contact 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 2","displayName":"Contact 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Link","displayName":"Website Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website CMS Type","displayName":"Website CMS Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Built","displayName":"Website Built","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Class","displayName":"Website Class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Response","displayName":"Mobile Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organic Traffic","displayName":"Organic Traffic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domain Authority","displayName":"Domain Authority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Blogs","displayName":"Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Products","displayName":"Total Products","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Paid Campaigns","displayName":"Paid Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Active Campaigns","displayName":"Active Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Marketplace Presence","displayName":"Marketplace Presence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Followers","displayName":"Instagram Followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UGC Content","displayName":"UGC Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Inffluencer Activity","displayName":"Inffluencer Activity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Youtube Subs","displayName":"Youtube Subs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Business","displayName":"Google Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Country Rank","displayName":"Website Country Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website Visitors","displayName":"Website Visitors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Bounce Rate","displayName":"Bounce Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Run Status","displayName":"Run Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email New","displayName":"Email New","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tiktok","displayName":"Tiktok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Update","displayName":"Status Update","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2100,-20],"id":"666f6b4e-9c40-48b6-8182-44cb4c1641b4","name":"Website Traffic Update","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~social-media-leads-analyzer/run-sync-get-dataset-items?token=apify_api_6V7roGDfQGgInu8kZawwbImglij1Qy2ZGjps","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json['Website Link'] }}\",\n            \"method\": \"GET\"\n        }\n    ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1820,-20],"id":"eb1710f8-6923-499c-8fbd-aba41ddca7af","name":"apify/social-media-leads-analyzer"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Limit":{"main":[[{"node":"apify/social-media-leads-analyzer","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Website Traffic Update":{"main":[[]]},"apify/social-media-leads-analyzer":{"main":[[{"node":"Website Traffic Update","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2b0d6bc9-4bd4-4094-8984-279df6427916","triggerCount":1,"tags":[]}