website-visits-data-aawYQ0ITCvbIvrqr.json
{"createdAt":"2025-06-13T07:35:18.274Z","updatedAt":"2025-06-13T12:50:40.000Z","id":"aawYQ0ITCvbIvrqr","name":"Website Visits Data","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"368e88e3-8ff4-4fca-8f38-f1b9d7adf119","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"9c7ff860-605f-41aa-b7dd-3b4a6ef13ec5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cdbccbb3-10ad-4973-a248-8a40ee78e40e","leftValue":"={{ $json['Run Status'] }}","rightValue":"Y","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[760,0],"id":"06201f37-2f03-4da5-b2dc-15d6dbe51dd5","name":"If"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1460,-20],"id":"60f5c42e-e78d-4fa6-9055-e3e8f3d06514","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"29dd44c3-1489-4fd8-982c-8dbb385d4949","name":"Website Link","value":"={{ $json['Website Link'] }}","type":"string"},{"id":"b3488177-c5ae-4fd7-b7e9-9ffbd49524f5","name":"Website Visitors","value":"={{ $('Google Sheets').item.json['Website Visitors'] }}","type":"string"},{"id":"c75cf09b-27d9-4ba6-bdc8-c54763ea6a8a","name":"Bounce Rate","value":"={{ $('Google Sheets').item.json['Bounce Rate'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-20],"id":"e5721d8d-dcaf-4ac9-bafa-f1d96d66777d","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7681c793-e496-4023-be72-220bac384aa2","name":"Website Link","value":"={{ $json['Website Link'] }}","type":"string"},{"id":"0f83824d-6df0-4590-8e38-3cf439e68189","name":"Website Visitors","value":"={{ $json['Website Visitors'] }}","type":"number"},{"id":"f900900f-11bc-4792-a089-82d4902d9f81","name":"Bounce Rate","value":"={{ $json['Bounce Rate'] }}","type":"number"},{"id":"fd569849-f330-4de3-900b-9e4cc05898cf","name":"Run Status","value":"={{ $json['Run Status'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"d5b0e61a-7e98-49eb-a6ff-4a17a0f7603d","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-120,180],"id":"edbbc494-cba8-4b8b-8ef6-5dde2ab4d7f4","name":"Schedule Trigger"},{"parameters":{"jsCode":"const websiteLink = $input.first().json['Website Link'];\n\n// Remove protocol (http:// or https://)\nlet domain = websiteLink.replace(/^https?:\\/\\//, '');\n\n// Remove path after domain\ndomain = domain.split('/')[0];\n\n// Remove 'www.' if present\ndomain = domain.replace(/^www\\./, '');\n\nreturn [{\n  json: {\n    domain: domain\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-20],"id":"67ef7636-43e7-4030-a647-1e6e541c6840","name":"Code"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/radeance~similarweb-scraper/run-sync-get-dataset-items?token=apify_api_6V7roGDfQGgInu8kZawwbImglij1Qy2ZGjps","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"proxySettings\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"RESIDENTIAL\"\n        ],\n        \"apifyProxyCountry\": \"US\"\n    },\n    \"urls\": [\n        \"{{ $json.domain }}\"\n    ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-20],"id":"40a532de-afeb-4a1a-91d9-d6bdf69078fa","name":"SimilarWeb Apify Key"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M","mode":"list","cachedResultName":"Nurturing Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10es5htS5oG4DrPFJopLQz3qhJiAgMqt8lnFkLDCwf0M/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Website CMS Type":"=","Website Link":"={{ $('Limit').item.json['Website Link'] }}","Website Country Rank":"={{ $json.categoryRank }}","Website Visitors":"={{ $json.totalVisits }}","Bounce Rate":"={{ $json.engagement.bounceRate * 100 + '%' }}","Email":"=","Run Status":"Y"},"matchingColumns":["Website Link"],"schema":[{"id":"Sr No","displayName":"Sr No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand/Company","displayName":"Brand/Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Model","displayName":"Business Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POC Name","displayName":"POC Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 1","displayName":"Contact 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact 2","displayName":"Contact 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Link","displayName":"Website Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website CMS Type","displayName":"Website CMS Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Built","displayName":"Website Built","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Class","displayName":"Website Class","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mobile Response","displayName":"Mobile Response","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Organic Traffic","displayName":"Organic Traffic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domain Authority","displayName":"Domain Authority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Blogs","displayName":"Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Products","displayName":"Total Products","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Paid Campaigns","displayName":"Paid Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Active Campaigns","displayName":"Active Campaigns","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Marketplace Presence","displayName":"Marketplace Presence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Followers","displayName":"Instagram Followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UGC Content","displayName":"UGC Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Inffluencer Activity","displayName":"Inffluencer Activity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Youtube Subs","displayName":"Youtube Subs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Business","displayName":"Google Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Country Rank","displayName":"Website Country Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website Visitors","displayName":"Website Visitors","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Bounce Rate","displayName":"Bounce Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Run Status","displayName":"Run Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email New","displayName":"Email New","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tiktok","displayName":"Tiktok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Update","displayName":"Status Update","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2300,-20],"id":"be5d4be9-b339-4c65-9c28-6581551ee0d3","name":"Website Traffic Update","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Limit":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Code":{"main":[[{"node":"SimilarWeb Apify Key","type":"main","index":0}]]},"SimilarWeb Apify Key":{"main":[[{"node":"Website Traffic Update","type":"main","index":0}]]},"Website Traffic Update":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2b0d6bc9-4bd4-4094-8984-279df6427916","triggerCount":1,"tags":[]}