west-coast-usa-outreach-machine-with-google-maps-yC7OhjfkjDFt3Iaw.json
{"createdAt":"2025-06-20T09:09:15.595Z","updatedAt":"2025-07-14T06:03:13.000Z","id":"yC7OhjfkjDFt3Iaw","name":"West Coast USA Outreach Machine with Google Maps","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Google Scraper Form","formFields":{"values":[{"fieldLabel":"City","requiredField":true},{"fieldLabel":"Country","requiredField":true},{"fieldLabel":"Max Search","fieldType":"number","requiredField":true},{"fieldLabel":"Category","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1380,200],"id":"282bb0cf-9701-4a6c-b9b7-ea059bc5dc4d","name":"On form submission","webhookId":"97858a2f-752d-49b8-acb8-a523415b8398"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/lukaskrivka~google-maps-with-contact-details/run-sync-get-dataset-items?token=apify_api_DzBumPlQhM3OeLPkAEJ1VMGaDUHKKY0v0HEr","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.City }}, {{ $json.Country }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Max Search'] }},\n    \"searchStringsArray\": [\n        \"{{ $json.Category }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-880,200],"id":"483e429a-20ab-450c-9d4e-e925949d86d9","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Search Query":"={{ $('On form submission').item.json.Category }}","Business Name":"={{ $json.title }}","Address":"={{ $json.address }}","Pincode":"={{ $json.postalCode }}","City":"={{ $json.city }}","State":"={{ $json.state }}","Reviews":"={{ $json.reviewsCount }}","Image Count":"={{ $json.imagesCount }}","Website URL":"={{ $json.website }}","Linkedin":"={{ $json.linkedIns[0] }}","Twitter":"={{ $json.twitters[0] }}","Instagram":"={{ $json.instagrams[0] }}","YouTube":"={{ $json.youtubes[0] }}","Phone Number":"={{ $json.phones[0] }}","Email":"={{ $json.emails[0] }}","Mail Sent":"N"},"matchingColumns":[],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-660,200],"id":"63f9e0d1-2f6d-413f-b337-237603387497","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4537e215-2aef-453d-985c-a05cf8b0b46f","leftValue":"={{ $json.Email }}","rightValue":"FILL","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-380,180],"id":"d2815a7d-920a-4b23-b0a7-4e15b2deaa71","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"62e10851-e37e-4aee-9433-8345fbd4dc82","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Input data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}"},{"content":"=You are an AI agent crafting a compelling, concise cold email for Fibre2Fashion Pvt Ltd, a 25-year-old Indian digital marketing agency, targeting clothing and apparel brands/manufacturers in the USA. Use a professional, tailored tone to introduce services and drive engagement.\n\n## Context  \n- These icebreakers are used at the top of cold emails to set a friendly, non-salesy tone.  \n- The goal is to create instant rapport, not to pitch.    \n- Avoid generic phrasing like \"always great to connect with people in X\"—focus directly on the recipient.  \n- Long company names should be simplified to how they would be said in conversation.  \n\n## Instructions  \nAddress the recipient by their first name for a personal touch.\nHighlight a specific, relevant detail from their background (e.g., {{ $json['Business Name'] }}, {{ $json.City }}, {{ $json['Search Query'] }}, {{ $json['Website URL'] }}) to show genuine interest.\nOptionally, weave in shared context with the sender (e.g., both in Ahmedabad, same industry) to create connection.\nOffer a free brand audit as a high-value, no-strings opportunity to amplify their online presence, emphasizing unique insights tailored to their business.\nEnd with an engaging, low-pressure call-to-action:The goal is to introduce Fibre2Fashion’s services, spark interest, and drive responses via WhatsApp (https://wa.me/917574845628) or Calendly (https://calendly.com/sunilpatel-f2f/30min).\nKeep the message under 700 characters, conversational, and laser-focused to spark a \"Yes\" reply or WhatsApp click.\nAvoid emojis, hashtags, additional links (except WhatsApp), formalities, or vague phrases like \"hope you’re well\" or \"great to connect.\"\n\nInstructions that you have to follow: \n\nCraft a cold email that exactly follows this structure, keeping the body (excluding footer) under 700 characters:\n\nIt should be like below email format:\n\nI’ve been impressed by [Business Name]’s stunning [Search Query-related detail] in [City]. \nWe are Fibre2Fashion Pvt Ltd, from India and we are 25 years old company. You can check more about us at https://www.fibre2fashion.com\nI will keep it short.\nWe offer all the below mentioned valuable services at just $999 a month. Wondering if your business needs any of these services\n- Social Media Management\n- UGC Content Creation\n- Influencer Management\n- eCommerce Management\n- Website Management & SEO\n- Website Maintenance (Technical)\n- Performance Marketing\nAdditional Chargeable Services\n- Website Development: Starts at $500\n- Local SEO Boost: Starts at $200\n- Automation Tools*: Web tools with AI features. Starts at $500\n- Agentic AI*: Agents that work for you 24/7. Starts at $250\n\nBook the meeting using this link https://calendly.com/sunilpatel-f2f/30min or\nWhatsapp me directly at https://wa.me/917574845628\n\nRegards,\nAlex Carter\nFibre2Fashion Team\n\n\n## Tools  \n- Input data fields (recipient):  \nInput data fields:  \n  - Business Name:  {{ $json['Business Name'] }}\n  - city:  {{ $json.City }}\n  - Business Category: {{ $json['Search Query'] }}  \n  - Website: {{ $json['Website URL'] }}\n  - Email: {{ $json.Email }}\n\n## Examples  \n## SOP (Standard Operating Procedure)    \n1. Extract a specific, interesting detail from the input data.  \n2. If appropriate, reference the user’s shared context (e.g., mutual location, industry focus).  \n\n\n## Final Notes  \n- Do not include emojis, links, hashtags, or formalities.  Just Tell that to continue further you can connect us on whatsapp with this link https://wa.me/917574845628\n- Avoid generic intros and focus on personalized, 1:1 tone.  \n- Think of the icebreaker like a quick, thoughtful DM that tees up a conversation.\n- ALSO AS MENTIONED, MENTION DETAILS ABOUT ALL OUR SERVICES AS GIVEN\n- DONT FORGET TO MENTION LINKS IN THIS TEXT (Book the meeting using this link https://calendly.com/sunilpatel-f2f/30min or Whatsapp me directly at https://wa.me/917574845628)\n- You Just need to write Body (NO GREETINGS OR SUBJECT REQUIRED)","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,220],"id":"acbd2053-8e26-4a9f-90a8-7ca8922d56df","name":"OpenAI","credentials":{"openAiApi":{"id":"hgxkms8eOTT8YCY0","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":580640306,"mode":"list","cachedResultName":"Email Sent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=580640306"},"columns":{"mappingMode":"defineBelow","value":{"Email Content":"={{ $json.message.content }}","Mail":"={{ $('If').item.json.Email }}","Time Stamp":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"Email Content","displayName":"Email Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail","displayName":"Mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,280],"id":"6462dc8d-e248-4f63-82fa-b201e80b7974","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"City":"={{ $json.City }}","Country":"={{ $json.Country }}","Max Search":"={{ $json['Max Search'] }}","Category":"={{ $json.Category }}","Submitted Date and Time":"={{ $json.submittedAt }}","Actor Status":"Pending"},"matchingColumns":[],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1140,200],"id":"67f63365-17dc-4219-9079-029326e84280","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"sendTo":"={{ $json.Mail }}","subject":"=Are you Owner of {{ $('Google Sheets').item.json['Business Name'] }}?, We Found Insights for You to Skyrocket Your Business !","emailType":"text","message":"={{ $json['Email Content'] }}\n\nRegards,\nAlex Carter\nFibre2Fashion Team","options":{"appendAttribution":false,"ccList":"vimal.bachani@fibre2fashion.com, sunil.patel@fibre2fashion.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1580,280],"id":"f1144c0e-19e8-4ce5-8acc-0dfc44920f7e","name":"Gmail","webhookId":"c35244f4-364b-46e6-ac2d-aeb621e8e802","credentials":{"gmailOAuth2":{"id":"gW9jPz75AS9qxSIi","name":"Alex Kim Gmail"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":528382012,"mode":"list","cachedResultName":"Google Scraper-Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=528382012"},"columns":{"mappingMode":"defineBelow","value":{"Mail Sent":"Y","Email":"={{ $('Google Sheets').item.json.Email }}"},"matchingColumns":["Email"],"schema":[{"id":"Search Query","displayName":"Search Query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Address","displayName":"Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pincode","displayName":"Pincode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Image Count","displayName":"Image Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mail Sent","displayName":"Mail Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin","displayName":"Linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook","displayName":"Facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube","displayName":"YouTube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[620,-200],"id":"95faf6a6-ee0b-4081-a671-e9f898133a09","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ","mode":"list","cachedResultName":"Outreach Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Google Scraper-Actor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1kpm2XNwy2uAvRJATXOKAV9TBmnKaPLY7gyjl6HM7hlQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Submitted Date and Time":"={{ $('On form submission').item.json.submittedAt }}","Actor Status":"Done"},"matchingColumns":["Submitted Date and Time"],"schema":[{"id":"Submitted Date and Time","displayName":"Submitted Date and Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max Search","displayName":"Max Search","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Category","displayName":"Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actor Status","displayName":"Actor Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1560,-200],"id":"946f0cc4-ad54-438f-8bae-7734770e2ea1","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"amount":30,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1260,280],"id":"30df6741-e6a3-4f30-a0d8-0f5005873ba0","name":"Wait","webhookId":"0b25af99-3520-4174-8d31-d43137bfa6b6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8ee56d8-21ac-4b2b-b9fe-61439cf7503c","leftValue":"={{ $('Google Sheets').item.json['Mail Sent'] }}","rightValue":"N","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"09b67abe-17d5-4f05-99c3-f539d5eb5cf6","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"b829d61c-a24e-4276-bdea-a62bb7851e2a","leftValue":"={{ $('Google Sheets').item.json['Website URL'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,280],"id":"b6855748-caa8-4dfa-b4d3-7840734c40f6","name":"If1"},{"parameters":{"content":"## Scraping Segment","height":460,"width":1340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1460,0],"id":"1aa7cb36-f798-4e0b-9524-3916884bb673","name":"Sticky Note"},{"parameters":{"content":"## Email Draft Creation & Sending Process\n","height":1020,"width":1860,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,-440],"id":"b148d9ab-6ec0-453d-b367-2193108c00e7","name":"Sticky Note1"}],"connections":{"On form submission":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets3","type":"main","index":0}],[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"If1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6ce24a2-33c8-4ed4-9858-1d4c558ebf5c","triggerCount":1,"tags":[]}