whatsapp-bulk-sender-KTNGzOAtF6q9Ui1p.json
{"createdAt":"2025-06-05T11:13:42.297Z","updatedAt":"2025-06-05T11:45:34.000Z","id":"KTNGzOAtF6q9Ui1p","name":"WhatsApp Bulk Sender","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-180,-60],"id":"9d0df22c-0880-4150-b53e-c6b7061da2f4","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1TbhZ1cufeOqKGJN0PrV5LU_ATP66b9MrjomI7iS5rbA","mode":"list","cachedResultName":"Bulk Message sender | ChatWoot","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TbhZ1cufeOqKGJN0PrV5LU_ATP66b9MrjomI7iS5rbA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TbhZ1cufeOqKGJN0PrV5LU_ATP66b9MrjomI7iS5rbA/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,-60],"id":"6775ddbe-7722-434c-867a-08f2c99113a5","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"XboeqJMSiWXrx0jM","name":"Google Sheets account"}}},{"parameters":{"url":"=https://chat.emerge-accelerator.com/api/v1/accounts/1/contacts?query=phone_number:+{{ $json.phone_number }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"YTVk8Lz1B3tX4KToDwTAMvEG"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-60],"id":"d60b53f6-6c42-4bab-8a34-3533511d74cb","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"HTTP Request":[{"json":{"meta":{"count":4,"current_page":1},"payload":[{"additional_attributes":{},"availability_status":"offline","email":null,"id":3,"name":"Aaleya","phone_number":"+917999631561","blocked":false,"identifier":null,"thumbnail":"","custom_attributes":{},"last_activity_at":1749036267,"created_at":1749036267,"contact_inboxes":[{"source_id":"917999631561","inbox":{"id":3,"avatar_url":"https://chat.emerge-accelerator.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--109617d6b6123f42047b859650e22f69eadb724f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--872bea1c250771e71c538990161457dfd6a38799/Untitled%20design.png","channel_id":3,"name":"WhatsApp Chat Bot","channel_type":"Channel::Whatsapp","provider":"whatsapp_cloud"}}]},{"additional_attributes":{"city":"Ahmedabad","country":"India","description":"","company_name":"","country_code":"IN","social_profiles":{"github":"","twitter":"","facebook":"","linkedin":"","instagram":""}},"availability_status":"offline","email":"vimal.f2f@gmail.com","id":2,"name":"Vimal  2","phone_number":"+917567073244","blocked":false,"identifier":null,"thumbnail":"","custom_attributes":{},"created_at":1749029508,"contact_inboxes":[]},{"additional_attributes":{},"availability_status":"offline","email":null,"id":5,"name":"Vimal Bachani","phone_number":"+917984795814","blocked":false,"identifier":null,"thumbnail":"","custom_attributes":{},"last_activity_at":1749120542,"created_at":1749102132,"contact_inboxes":[{"source_id":"917984795814","inbox":{"id":3,"avatar_url":"https://chat.emerge-accelerator.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--109617d6b6123f42047b859650e22f69eadb724f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--872bea1c250771e71c538990161457dfd6a38799/Untitled%20design.png","channel_id":3,"name":"WhatsApp Chat Bot","channel_type":"Channel::Whatsapp","provider":"whatsapp_cloud"}}]},{"additional_attributes":{},"availability_status":"offline","email":null,"id":4,"name":"Sunil Patel","phone_number":"+917574845628","blocked":false,"identifier":null,"thumbnail":"","custom_attributes":{},"last_activity_at":1749108449,"created_at":1749095916,"contact_inboxes":[{"source_id":"917574845628","inbox":{"id":3,"avatar_url":"https://chat.emerge-accelerator.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBDQT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--109617d6b6123f42047b859650e22f69eadb724f/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--872bea1c250771e71c538990161457dfd6a38799/Untitled%20design.png","channel_id":3,"name":"WhatsApp Chat Bot","channel_type":"Channel::Whatsapp","provider":"whatsapp_cloud"}}]}]}}]},"versionId":"f60cadea-6639-4a45-92bd-5ca60525d7ca","triggerCount":0,"tags":[]}